<%= render :partial => 'shared/breadcrumbs',
           :locals => { :paths => {
      'Home' => root_path,
      'Contact Us' => contact_path,
    }}
 %>

<div class="separator-xsmall"></div>

<div class="page-header">
  <h1>Contact Us</h1>
</div>

<p>You can contact us at any one of the following:</p>
<ul>
  <li>General contact, <%= mail_to "contact@scigit.com" %></li>
  <li>Doug Sherk, Co-founder and Privacy Officer, <%= mail_to "doug@scigit.com" %></li>
  <li>Hanson Wang, Co-founder and Chief Technical Officer, <%= mail_to "hanson@scigit.com" %></li>
  <li>Jessica Chi, Chief Marketing Officer <%= mail_to "jessica@scigit.com" %></li>
</ul>
