<% if @first_time %>
  <div class="hero-unit blue-hero-unit">
    <button type="button" class="close pull-right" data-dismiss="alert">&times;</button>
    <h1>
      Let's get started!
    </h1>
    <p>
      You can manage documents using projects. Let's create your first project.
    </p>
    <a tabindex="-1" href="#createProject" data-toggle="modal" href="#">
      <div class="btn btn-primary btn-xlarge">Create First Project</div>
    </a>
  </div>
{% elseif not activated %}
  <div class="alert alert-error">
    <i class="icon-remove-sign"></i>
    <p>
      Your email has not been verified; certain features will not be available until you do so. Please check your email for a verification link, or <a href="/auth/send_again">get a new link</a>.
    </p>
  </div>
  <div class="separator-small"></div>
<% end %>

<div class="page-header">
  <p class="breadcrumbs">
    <span class="current"><%= link_to 'Home', root_path %></span>
  </p>
</div>

<div class="row-fluid">
  <div class="span6 well-list">
    <table class="table table-hover">
      <tr>
        <th>
          <h2>Coauthor Updates</h2>
        </th>
      </tr>
      <% if @coauthor_updates %>
        <% @coauthor_updates.each do |coauthor_update| %>
          <tr>
            <td class="project" valign="middle" data-proj_id="<%= coauthor_update.project.id %>">
              <div class="pull-left">
                <div class="title pull-left">
                  <%= link_to coauthor_update.project.name, project_path(coauthor_update.project.id) %>
                </div>
                <div class="subtitle">
                  <%= link_to coauthor_update.user.fullname, user_path(coauthor_update.user_id) %> made change:
                </div>
              </div>
              <div class="date pull-right"><%= distance_of_time_in_words(Time.now, Time.at(coauthor_update.commit_timestamp)) %> ago</div>
              <div class="clearfix"></div>
              <div class="description">
                <%= link_to coauthor_update.commit_msg, project_change_path(coauthor_update.id) %>
              </div>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr class="nohover">
          <td>
            <p>You have no recent activity in your social circle. Visit the
            <%= link_to 'Company Projects', company_projects_path %> section.</p>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="span6 well-list">
    <table class="table table-hover">
      <tr>
        <th>
          <h2>Subscription Updates</h2>
        </th>
      </tr>
      <% if @subscription_updates %>
        <% @subscription_updates.each do |subscription_update| %>
          <tr>
            <td class="project" valign="middle" data-proj_id="<%= subscription_update.project.id %>">
              <div class="pull-left">
                <div class="title pull-left">
                  <%= link_to subscription_update.project.name, project_path(subscription_update.project.id) %>
                </div>
                <div class="subtitle">
                  <%= link_to subscription_update.user.fullname, user_path(subscription_update.user_id) %> made change:
                </div>
              </div>
              <div class="date pull-right"><%= distance_of_time_in_words(Time.now, Time.at(subscription_update.commit_timestamp)) %> ago</div>
              <div class="clearfix"></div>
              <div class="description">
                <%= link_to subscription_update.commit_msg, project_change_path(subscription_update.id) %>
              </div>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr class="nohover">
          <td>
            <% if @first_time %>
              <p>You have made no changes to any projects recently. Consider <%= link_to 'finding a project', company_projects_path %> to contribute to.</p>
            <% else %>
              <p>You have no projects. <a tabindex="-1" href="#createProject" data-toggle="modal" href="#">Create a Project</a> to get started! You can also join someone else's project.</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
