<% if @first_time %>
  <div class="hero-unit blue-hero-unit">
    <button type="button" class="close pull-right" data-dismiss="alert">&times;</button>
    <h1>
      Let's get started!
    </h1>
    <p>
      You can manage documents using projects. Let's create your first project.
    </p>
    <a tabindex="-1" href="#createProject" data-toggle="modal" href="#">
      <div class="btn btn-primary btn-xlarge">Create First Project</div>
    </a>
  </div>
{% elseif not activated %}
  <div class="alert alert-error">
    <i class="icon-remove-sign"></i>
    <p>
      Your email has not been verified; certain features will not be available until you do so. Please check your email for a verification link, or <a href="/auth/send_again">get a new link</a>.
    </p>
  </div>
  <div class="separator-small"></div>
<% end %>

<div class="page-header">
  <%= render :partial => 'shared/breadcrumbs', :locals => {:paths => {
    'Home' => root_path,
  }} %>
</div>

<div class="row-fluid">
  <% @coauthor_updates_empty_msg = capture do %>
    You have no recent activity in your social circle. Visit the <%= link_to 'Public Projects', public_projects_path %> section.
  <% end %>

  <%= render :partial => 'project_changes/table',
             :locals => {
        :update_type => 'Coauthor Updates',
        :updates => @coauthor_updates,
        :empty_msg => @coauthor_updates_empty_msg,
      }
   %>

  <% @subscription_updates_empty_msg = capture do %>
    <% if defined?(@first_time) %>
      You have made no changes to any projects recently. Consider <%= link_to 'finding a project', public_projects_path %> to contribute to.
    <% else %>
      You have no projects.
      <%= link_to 'Create a project', '',
          :data => {:toggle => 'modal', :target => '#createNewProjectModal'} %> to get started!
      You can also join someone else's project.
    <% end %>
  <% end %>

  <%= render :partial => 'project_changes/table',
             :locals => {
        :update_type => 'Subscription Updates',
        :updates => @subscription_updates,
        :empty_msg => @subscription_updates_empty_msg,
      }
   %>
</div>
