{% extends "base.twig" %}

{% block title "Home" %}

{% block content %}

{% if not activated %}
<div class="alert alert-error">
  Your email has not been verified; certain features will not be available until you do so. Please check your email for a verification link, or <a href="/auth/send_again">get a new link</a>.
</div>
{% endif %}

<div class="row-fluid">
  <div class="span6 well light-well">
    <h2>Social Activity</h2>
    <hr class="soften" />
    {% if activities %}
      <ul>
        {% for activity in activities %}
          <li class="activity-entry">
            <strong>
              {{ anchor("/users/profile/#{activity.user_id}", activity.username) | raw}}
              pushed to
              {{ anchor("/projects/view/#{activity.proj_id}", activity.proj_name) | raw }}
            </strong>
            <p class="date date-margin pull-right">{{ time_ago(activity.commit_ts) }}</p>
            <div class="activity-msg">
              {{ anchor("/changes/view/#{activity.id}", activity.commit_msg) | raw }}
            </div>
            {% if not loop.last %}
              <hr class="soften" />
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You have no recent activity in your social circle. Visit the
        {{ anchor("/projects/explore", "Explore") | raw }} section.</p>
    {% endif %}
  </div>
  <div class="span6 well light-well">
    <h2>Your Activity</h2>
    <hr class="soften" />
    {% if projects %}
      <ul>
        {% for project in projects %}
          {% if project.my_changes %}
            <li class="activity-entry">
              {{ anchor("/projects/view/#{project.id}", project.name) | raw }}
              <ul class="unstyled">
                {% for change in project.my_changes %}
                  <li>
                    <div class="pull-right date date-margin p">
                      {{ time_ago(change.commit_ts) }}
                    </div>
                    <div class="activity-msg">
                      {{ anchor("/changes/view/#{change.id}", change.commit_msg) | raw }}
                    </div>
                  </li>
                {% endfor %}
              </ul>
              {% if not loop.last and loop.next.my_changes %}
                <hr class="soften" />
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% elseif has_projects %}
      <p>You have made no changes to any projects recently.</p>
    {% else %}
      <p>You have no projects. {{ anchor("/projects/create", "Create a Project") | raw }} to get started! You can also join someone else's project.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
