{% extends "base.twig" %}

{% block content %}

<script>
  $(document).ready(function() {
    $('.close').click(function() {
      $('.download').hide();
    });
  });
</script>

<div class="hero-unit download">
  <div class="row-fluid">
    <div class="span4 left">
      <h2>Get the SciGit Client</h2>
    </div>
    <div class="span8">
      <button class="close top-right">&times;</button>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4 left">
      <a href="/download"><div class="btn btn-primary btn-xlarge link">
        Download
      </div></a>
      <p>
        Supported platforms:
        <img src="img/windows.png" alt="Windows XP, Windows Vista, Windows 7" />
      </p>
    </div>
    <div class="span8">
      <p>
        Welcome <strong>{{ username }}</strong>!
      </p>
      <p>
        To get started, install the SciGit client.
      </p>
      <p>
        You are currently part of our closed beta. <a href="/feedback">We value your
        feedback <span class="btn btn-success go">⇾</div></a>
      </p>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6 well light-well">
    <h2>Social Activity</h2>
    <hr class="soften" />
    {% if activities %}
      <ul>
        {% for activity in activities %}
          <li class="activity-entry">
            <strong>
              {{ anchor("/users/profile/#{activity.user_id}", activity.username) | raw}}
              pushed to
              {{ anchor("/projects/changes/#{activity.proj_id}", activity.proj_name) | raw }}
            </strong>
            <p class="date pull-right">{{ activity.commit_ts | date("d/m/Y") }}</p>
            <div class="activity-msg">
              {{ anchor("/changes/view/#{activity.id}", activity.commit_msg) | raw }}
            </div>
            {% if not loop.last %}
              <hr class="soften" />
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You have no recent activity in your social circle.</p>
    {% endif %}
  </div>
  <div class="span6 well light-well">
    <h2>Your Activity</h2>
    <hr class="soften" />
    {% if projects %}
      <ul>
        {% for project in projects %}
          {% if project.my_changes %}
            <li class="activity-entry">
              {{ anchor("/projects/changes/#{project.id}", project.name) | raw }}
              <ul class="unstyled">
                {% for change in project.my_changes %}
                  <li>
                    <div class="pull-right date p">
                      {{ change.commit_ts | date("d/m/Y") }}
                    </div>
                    <div class="activity-msg">
                      {{ anchor("/changes/view/#{change.id}", change.commit_msg) | raw }}
                    </div>
                  </li>
                {% endfor %}
              </ul>
              {% if not loop.last and loop.next.my_changes %}
                <hr class="soften" />
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% elseif has_projects %}
      <p>You have made no changes to any projects recently.</p>
    {% else %}
      <p>You have no projects. {{ anchor("/projects/create", "Create a Project") | raw }} to get started!</p>
    {% endif %}
  </div>
</div>
{% endblock %}
