{% extends "base.twig" %}

{% block my_account %}
  <a class="btn btn-primary pull-right navbutton" href="/users/profile">Login</a>
{% endblock %}

{% block title "Register" %}

{%
set fields = [
	{
		'name': 'email',
		'id': 'email',
		'value': set_value('email'),
		'maxlength': 80,
		'size': 30,
    'class' : 'input-large'
	},
	{
		'name': 'fullname',
		'id': 'fullname',
		'value': set_value('fullname'),
		'maxlength': 20,
		'size': 30,
    'class' : 'input-large',
	},
]
%}

{% block content %}

<script>
$(document).ready(function() {
  addDefault(document.getElementById('email'), "Your email");
  addDefault(document.getElementById('fullname'), "Your full name");
});
</script>

<div class="hero-unit">
  {{ form_open('', {class: 'register-form'}) | raw }}
  <div class="row-fluid">
    <div class="span8">
      <h2>Collaboration made easy.</h2>
      <p>SciGit is a collaboration system for researchers to work on the same
      paper with version control easily.</p>
      <p>Simply drag and drop your files into a SciGit folder and it'll do the
      rest. No more dealing with the terminal or clunky version control
      systems.</p>
    </div>
    <div class="span4">
      <p><h3>Sign up for free</h3></p>
      {% for field in fields %}
        <div class="control-group {% if errors[field['name']] or form_error(field['name']) %} error {% endif %}">
          <div class="controls">
            {{ form_input(field) | raw }}
            <span class="help-inline">
              {{ form_error(field['name']) | raw }}
              {{ errors[field['name']] }}
            </span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8">
      <a class="btn btn-primary btn-large" href="#">
        Learn more
      </a>
    </div>
    <div class="span4">
      {{ form_submit({class: 'btn btn-success btn-large', name: 'register'}, 'Register') | raw }}
      <a class="btn btn-large" href="/auth/login">I have an account</a>
    </div>
  </div>
  {{ form_close() | raw }}
</div>
<hr class="soften"></hr>
<div class="row-fluid features">
  <div class="span4">
    <div class="feature collaborate"></div>
    <h3>Collaborate without a mess</h3>
    <p>No more -version19 John edits anymore. Keep track of changes done by
    each person and see the differences between papers.</p>
  </div>
  <div class="span4">
    <div class="feature editors"></div>
    <h3>Supports your favorite editor</h3>
    <p>Use the same text editor you have now. Have the convenience to work
    offline. Sync changes whenever you feel like it.</p>
    </p>
  </div>
  <div class="span4">
    <div class="feature secure"></div>
    <h3>Safe and secure</h3>
    <p>Your documents are safe and secure. They're only accessible to people
    you grant permission to. You can share when you want to.</p>
  </div>
</div>
<div class="row-fluid discover">
  <h1>Share SciGit</h1>
  <div class="social">
    <a href="https://twitter.com/share" class="twitter-share-button"
      data-url="http://scigit.com" data-via="SciGit">Tweet</a>
    <script>!function(d,s,id){var
      js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="fb-like" data-href="http://scigit.com" data-send="true"
      data-layout="button_count" data-width="200" data-show-faces="true"
      data-font="verdana"></div>
  </div>
</div>

{% endblock %}
