<%= form_for(@project_change) do |f| %>
  <% if @project_change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_change.errors.count, "error") %> prohibited this project_change from being saved:</h2>

      <ul>
      <% @project_change.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :commit_msg %><br>
    <%= f.text_field :commit_msg %>
  </div>
  <div class="field">
    <%= f.label :commit_hash %><br>
    <%= f.text_field :commit_hash %>
  </div>
  <div class="field">
    <%= f.label :commit_timestamp %><br>
    <%= f.number_field :commit_timestamp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
