<% @project_changes.each do |project_change| %>
  <tr>
    <td class="change" valign="middle"
     data-change_id="<%= project_change.id %>" data-proj_id="<%= project_change.project_id %>">
      <%= link_to project_change.user.fullname, user_path(project_change.user.id) %> updated:
      <div class="buttons shrink">
        <div class="date">
          <%= time_ago_in_words(project_change.commit_timestamp) %> ago
        </div>
        <%= link_to raw('<i class="changes icon-search"></i>'),
                    project_change_path(project_change.project_id, project_change.id), {
              :class => 'btnViewChanges btn btn-info btn-small',
              :rel => 'tooltip',
              :title => 'View changes',
            } %>
        <%= link_to raw('<i class="icon-copy"></i>'),
              sprintf('scigit://view_change?project_id=%d&commit_hash=%s', project_change.project_id, project_change.commit_hash), {
                :class => 'btn btn-small',
                :rel => 'tooltip',
                :title => 'View changes on client'
              } %>
      </div>
      <div class="description">
        <%= link_to project_change.commit_msg, project_change_path(project_change.project_id, project_change.id) %>
      </div>
    </td>
  </tr>
<% end %>
