<% @project_changes.each do |project_change| %>
  <tr>
    <td class="change" valign="middle"
     data-change_id="<%= project_change.id %>" data-commit_hash="<%= project_change.commit_hash %>">
      <%= link_to project_change.user.fullname, user_path(project_change.user.id) %> updated:
      <div class="buttons shrink">
        <div class="date">
          <%= time_ago_in_words(project_change.commit_timestamp) %> ago
        </div>
        <a href="#" class="btnViewChanges btn btn-info btn-small"
         rel="tooltip" title="View changes">
          <i class="changes icon-search"></i>
        </a>
        <a href="scigit://view_change?project_id={{ change.proj_id }}&commit_hash={{ change.commit_hash }}" class="btn btn-small"
         rel="tooltip" title="View changes on client">
          <i class="icon-copy"></i>
        </a>
      </div>
      <div class="description">
        <%= link_to project_change.commit_msg, project_change_path(project_change.project_id, project_change.id) %>
      </div>
    </td>
  </tr>
<% end %>
