<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @project_change.user_id %>
</p>

<p>
  <b>Project:</b>
  <%= @project_change.project_id %>
</p>

<p>
  <b>Commit msg:</b>
  <%= @project_change.commit_msg %>
</p>

<p>
  <b>Commit hash:</b>
  <%= @project_change.commit_hash %>
</p>

<p>
  <b>Commit timestamp:</b>
  <%= @project_change.commit_timestamp %>
</p>


<%= link_to 'Edit', edit_project_change_path(@project_change) %> |
<%= link_to 'Back', project_changes_path %>
