<div class="well-list">
  <div class="well-list-header">
    <div class="well-list-header-inner">
      <div class="well-list-header-buttons">
        <h3>
          <%= project_type %>
        </h3>
        <% if defined?(button) %>
          <%= button %>
        <% end %>
      </div>
    </div>
  </div>
  <% if !projects.empty? %>
    <% projects.each do |project| %>
      <div class="well-list-item">
        <div class="well-list-item-inner">
          <div class="well-list-item-grid">
            <div class="well-list-item-title">
              <h4><%= link_to project.name, project_path(project.id) %></h4>
            </div>
            <div class="well-list-item-buttons">
              <span data-toggle="tooltip" data-original-title="Subscribers" data-container="body">
                <%= project.id %>
                <i class="fa fa-star"></i>
              </span>
              <% if can? :admin, project %>
                <%= link_to "", :class => "btn btn-default", :data => {:toggle => "tooltip", "original-title" => "Settings", :container => "body"} do %>
                  <%= fa_icon "cog", :class => "fa-lg" %>
                <% end %>
              <% end %>
            </div>
            <div class="well-list-item-description">
              <%= project.description.or('This project has no description.') %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="well-list-item">
      <div class="well-list-item-inner well-list-item-empty">
        <p><%= empty_msg %></p>
      </div>
    </div>
  <% end %>
</div>
