<div class="well-list">
  <div class="well-list-header">
    <div class="well-list-header-inner">
      <h3>
        <%= project_type %>
        <div class="pull-right">
          <% if defined?(button) %>
            <%= button %>
          <% end %>
        </div>
      </h3>
    </div>
  </div>
  <% if !projects.empty? %>
    <% projects.each do |project| %>
      <div class="well-list-item">
        <div class="well-list-item-inner">
          <div class="title pull-left">
            <%= link_to project.name, project_path(project.id) %>
          </div>
          <div class="buttons">
            <div class="button">
              <a href="#" data-toggle="tooltip" title="Subscribers" class="rawlink">
                <%= project.id %>
                <i class="icon-star"></i>
              </a>
            </div>
            <% if can? :admin, project %>
              <div class="button">
                <a href="#" data-toggle="tooltip" title="Administrate" class="rawlink">
                  <i class="icon-cog icon-large"></i>
                </a>
              </div>
            <% end %>
          </div>
          <div class="description">
            <%= project.description.or('This project has no description.') %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="well-list-item">
      <div class="well-list-item-inner well-list-item-empty">
        <p><%= empty_msg %></p>
      </div>
    </div>
  <% end %>
</div>
