<%= render :partial => 'shared/breadcrumbs',
           :locals => { :paths => {
      'Home' => root_path,
      ((can? :update, @project) ? 'Manage My Projects' : 'View Public Projects') =>  ((can? :update, @project) ? projects_path : public_projects_path),
      @project.name => project_path(@project.id),
      'Browse Files' => files_project_path(@project),
    }}
 %>

<div class="separator-xsmall"></div>

<div class="page-header">
  <h1>
    Browse <%= @project.name %>
  </h1>
</div>

<div class="row-fluid">
  <div class="alert alert-info">
    Showing project after <%= link_to @change.user.fullname, users_path(@change.user) %> made the following change
    <%= time_ago_in_words @change.commit_timestamp %> ago:
    <div class="change-message">
      <%= link_to @change.commit_msg, project_change_path(@project, @change) %>
    </div>
  </div>

  <% if @file_data %>
    <%= render :partial => 'layouts/file_display' %>
  <% else %>
    <%= render :partial => 'layouts/project_file_listing' %>
  <% end %>
</div>
