<%= form_for @project, :html => {:id => 'createNewProjectForm'} do |f| %>
  <div class="modal-body">
    <div class="create-project">
      <%= render :partial => 'shared/form_alerts' %>
      <div class="public">
        <%= f.check_box :public, :id => 'hiddenPublic', :class => 'hide' %>
        <div class="btn-group">
          <%= link_to raw('<div>Private</div><i class="icon-lock icon-large icon-fixed-width"></i>'), '', :id => 'btnPrivate', :class => 'btn active' %>
          <%= link_to raw('<div>Public</div><i class="icon-globe icon-large icon-fixed-width"></i>'), '', :id => 'btnPublic', :class => 'btn' %>
        </div>
      </div>
      <div class="grey-separator"></div>
      <div class="name">
        <%= f.label :name, 'Project Name' %>
        <%= f.text_field :name %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
<% end %>
