<!-- <div id="project_id" data-project_id="<%= @project.id %>"></div> -->

<%= render :partial => 'shared/breadcrumbs',
           :locals => { :paths => {
      'Home' => root_path,
      ((can? :update, @project) ? 'Manage My Projects' : 'View Public Projects') =>  ((can? :update, @project) ? projects_path : public_projects_path),
      @project.name => project_path(@project.id),
    }}
 %>

<div class="separator-xsmall"></div>

<div class="page-header">
  <h1>
    <div class="pull-right">
      <% if can? :manage, @project %>
        <a class="btn btn-large btn-primary" href="{{ site_url("/projects/admin/#{project.id}") | raw }}">
          <i class="icon-wrench icon-white"></i>
          Settings
        </a>
      <% elsif user_signed_in? %>
        <% if cannot? :read, @project %>
          <%= link_to 'Subscribe', subscribe_project_path, :class => 'btn btn-large btn-success' %>
        <% else %>
          <%= link_to 'Unsubscribe', subscribe_project_path, :class => 'btn btn-large btn-danger' %>
        <% end %>
      <% end %>
    </div>
    <%= @project.name %>
  </h1>
</div>

<div class="row-fluid">
  <div class="col-md-4">
    <div class="well-list well-list-condensed">
      <div class="well-list-header">
        <div class="well-list-header-inner">
          <div class="well-list-header-buttons">
            <h3>Description</h3>
            <a id="btnEditDescription" class="btn btn-primary btn-valign center" href="#" rel="tooltip" title="Edit description">
              <i class="icon-large icon-edit"></i> Edit
            </a>
          </div>
        </div>
      </div>
      <div class="well-list-item">
        <div class="well-list-item-inner well-list-item-empty">
          <p id="description">
            <%= @project.description.or('This project has no description.') %>
          </p>

          <% if can? :manage, @project %>
            <%= form_tag('/projects/edit_description', :method => 'post', :class => 'hide') do %>
              <%= label_tag(:description, 'Description') %>
              <%= text_area_tag :description, @project.description, :size => '20x10' %>
              <% # XXX: submit() call totally unnecessary, but I don't want to break bcompat yet. %>
              <%= submit_tag 'Save', :class => 'btn btn-primary pull-right', :onclick => '$(\'#editDescription\').submit();' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <%= render :partial => 'project_permissions/list', :locals => {
          :project => @project,
          :permissions => @permissions,
        }
     %>

    <div class="well-list well-list-condensed">
      <div class="well-list-header">
        <div class="well-list-header-inner">
          <h3>Stats</h3>
        </div>
      </div>
      <div class="well-list-item">
        <div class="well-list-item-inner well-list-item-empty">
          <div class="row-fluid">
            <div class="col-md-4">
              <h3><%= @subscribers.count %></h3>
              <p>Subscribers</p>
            </div>
            <div class="col-md-4">
            <h3><%= @permissions.count %></h3>
              <p>Coauthors</p>
            </div>
            <div class="col-md-4">
              <h3><%= @members.count %></h3>
              <p>Total Members</p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="col-md-4">
              <h3><%= @changes.count %></h3>
              <p>Updates</p>
            </div>
            <div class="col-md-8">
              <h3><%= l @project.created_at, :format => :day %></h3>
              <p>Created</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div id="last-change" class="well-list well-list-condensed">
      <div class="well-list-header">
        <div class="well-list-header-inner">
          <div class="well-list-header-buttons">
            <h3>Last Change</h3>
            <a class="btn btn-primary btn-valign center" href="<%= project_changes_path(@project) %>">
              View all
            </a>
          </div>
        </div>
      </div>
      <div class="well-list-item">
        <div class="well-list-item-inner">
          <% if @last_change.nil? %>
            No changes have been made to this project.
          <% else %>
            <div class="pull-right">
              <a class="btn btn-default" data-toggle="tooltip" title="View&nbsp;change"
                 href="<%= project_change_path(@project, @last_change) %>">
                <%= fa_icon 'search' %>
              </a>
            </div>
            <%= link_to @last_change.user.fullname, users_path(@last_change.user) %> made the following change
            <%= time_ago_in_words @last_change.commit_timestamp %> ago:
            <div class="change-message">
              <%= link_to @last_change.commit_msg, project_change_path(@project, @last_change) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render :partial => 'layouts/project_file_listing' %>
  </div>
</div>
