<div id="project_id" data-project_id="<%= @project.id %>"></div>

<%= render :partial => 'shared/breadcrumbs',
           :locals => { :paths => {
      'Home' => root_path,
      ((can? :update, @project) ? 'Manage My Projects' : 'View Company Projects') =>  ((can? :update, @project) ? projects_path : company_projects_path),
      @project.name => project_path(@project.id),
    }}
 %>

<div class="separator-xsmall"></div>

<div class="page-header">
  <h1>
    <div class="pull-right">
      <% if can? :manage, @project %>
        <a class="btn btn-large btn-primary" href="{{ site_url("/projects/admin/#{project.id}") | raw }}">
          <i class="icon-wrench icon-white"></i>
          Settings
        </a>
      <% elsif user_signed_in? %>
        <% if cannot? :read, @project %>
          <%= link_to 'Subscribe', subscribe_project_path, :class => 'btn btn-large btn-success' %>
        <% else %>
          <%= link_to 'Unsubscribe', subscribe_project_path, :class => 'btn btn-large btn-danger' %>
        <% end %>
      <% end %>
    </div>
    <%= @project.name %>
  </h1>
</div>

<div class="row-fluid">
  <div class="span4">
    <div class="blue-well-list">
      <table class="table table-condensed">
        <tr>
          <th>
            <h2>
              <% if can? :manage, @project %>
                <div class="pull-right">
                  <a id="btnEditDescription" class="btn btn-primary btn-valign center" href="#" rel="tooltip" title="Edit description">
                    <i class="icon-large icon-edit"></i> Edit
                  </a>
                </div>
              <% end %>
              Description
            </h2>
          </th>
        </tr>
        <tr>
          <td class="tabular" valign="middle">
            <p id="description">
              <% if @project.description %>
                <%= word_wrap(@project.description, :line_width => 30) %>
              <% else %>
                This project has no description.
              <% end %>
            </p>

            <% if can? :manage, @project %>
              <%= form_tag('/projects/edit_description', :method => 'post', :class => 'hide') do %>
                <%= label_tag(:description, 'Description') %>
                <%= text_area_tag :description, @project.description, :size => '20x10' %>
                <% # XXX: submit() call totally unnecessary, but I don't want to break bcompat yet. %>
                <%= submit_tag 'Save', :class => 'btn btn-primary pull-right', :onclick => '$(\'#editDescription\').submit();' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <%= render :partial => 'projects/members', :locals => {
          :project => @project,
          :members => @members,
        }
     %>

    <div class="well-list">
      <table class="table table-condensed">
        <tr>
          <th colspan="2">
            <h2>Stats</h2>
          </th>
        </tr>
        <tr>
          <td class="stats">
            <div class="row-fluid">
              <div class="span4">
                <h3><%= @numSubscribers %></h3>
                <p>Subscribers</p>
              </div>
              <div class="span4">
              <h3><%= @members.count %></h3>
                <p>Coauthors</p>
              </div>
              <div class="span4">
                <h3><%= @numMembers %></h3>
                <p>Total Members</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <h3><%= @changes.count %></h3>
                <p>Updates</p>
              </div>
              <div class="span8">
                <h3><%= @project.created_at %></h3>
                <p>Created</p>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="span8">
    <div class="changes">
      
    </div>
  </div>
</div>
