<%= form_for(@project_permission) do |f| %>
  <% if @project_permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_permission.errors.count, "error") %> prohibited this project_permission from being saved:</h2>

      <ul>
      <% @project_permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :permission %><br />
    <%= f.number_field :permission %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
