<%= render :partial => 'project_permissions/new_modal' %>

<div id="members" class="well-list well-list-condensed">
  <div class="well-list-header">
    <div class="well-list-header-inner">
      <div class="well-list-header-buttons">
        <h3>Members</h3>
        <% if can? :manage, project %>
          <%= link_to raw('<i class="icon-plus"></i> Add'), '',
              :class => 'btn btn-primary btn-valign',
              :data => {:toggle => 'modal', :target => '#addMemberModal'} %>
        <% end %>
      </div>
    </div>
  </div>
  <% members.each do |member| %>
    <div class="well-list-item">
      <div class="well-list-item-inner">
        <div class="well-list-item-grid">
          <div class="well-list-item-title">
            <% if member.can? :manage, project %>
              <span data-toggle="tooltip" data-original-title="Coauthor">
                <%= fa_icon "trophy", :class => "fa-fw" %>
              </span>
            <% elsif member.can? :update, project %>
              <span data-toggle="tooltip" data-original-title="Contributor">
                <%= fa_icon "pencil", :class => "fa-fw" %>
              </span>
            <% elsif member.can? :read, project %>
              <span data-toggle="tooltip" data-original-title="Reader">
                <%= fa_icon "eye", :class => "fa-fw" %>
              </span>
            <% end %>
            &nbsp;&nbsp;<%= link_to member.fullname, users_path(member.id) %>
          </div>
          <% if can? :manage, @project %>
            <div class="well-list-item-buttons">
              <a class="editMember btn btn-default" href="#editMember"
               data-user_id="<%= member.id %>" data-user_name="<%= member.email %>"
               data-original-title="Edit <%= member.email %>'s permissions"
               data-toggle="modal tooltip"
               <% if cannot? :manage, member %>disabled="disabled"<% end %>>
                <%= fa_icon "pencil" %>
              </a>
              <a class="deleteMember btn-danger btn btn-small" href="#" data-user_id="<%= member.id %>"
               data-original-title="Remove <%= member.email %> from project"
               data-toggle="tooltip"
               <% if cannot? :manage, member %>disabled="disabled"<% end %>>
                <%= fa_icon "trash-o" %>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
