<div class="modal-dialog modal-dialog-large">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h2>Add Member</h2>
    </div>
    <div class="modal-body">
      <%= form_for @project_permission, :html => {:id => 'addMemberForm'} do |f| %>
        <%= render :partial => 'shared/form_alerts' %>
        <div class="well">
          <h3>Find or Invite Member</h3>
          <p>Search for a member. If they're not already part of SciGit, you can also invite them.</p>
          <div class="row-fluid">
            <div class="col-md-6 col-md-offset-3">
              <% # Use a surrounding div to encapsulate a popover, since we can't have multiple popovers attached to a DOM element. %>
              <div id="findMember">
                <div id="invalidEmailPopover" class="input-group">
                  <%= f.fields_for :user do |builder| %>
                    <%= builder.text_field :email, :placeholder => "Name or Email", :class => "form-control",
                        :data => {:target => autocomplete_user_path} %>
                  <% end %>
                  <span class="input-group-btn">
                    <%= link_to '#', :id => 'btnFindMember', :class => 'btn btn-primary' do %>
                      <%= fa_icon "search", :class => "fa-fw" %>
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row-clear"></div>
        </div>
        <div id="addMemberPermissions" class="well">
          <h3 id="permissionHeader">Choose Member Permissions</h3>
          <div class="row-fluid">
            <div class="col-md-3 permission">
              <h4><%= fa_icon "wrench" %> Manager</h4>
              <ul>
                <li>Edit project settings.</li>
                <li>Add/remove members.</li>
              </ul>
              <%= link_to raw(f.radio_button(:permission, '1') + ' Select'), '',
                  :class => 'btn btn-default' %>
            </div>
            <div class="col-md-3 permission">
              <h4><%= fa_icon "pencil" %> Coauthor</h4>
              <ul>
                <li>Make changes to files.</li>
                <li>Invite subscribers.</li>
              </ul>
              <%= link_to raw(f.radio_button(:permission, '2') + ' Select'), '',
                  :class => 'btn btn-default' %>
            </div>
            <div class="col-md-3 permission <% if @project.public %>extra-faded<% end %>"
             <% if @project.public %>
             data-toggle="popover" data-content="You cannot add readers to public projects." data-original-title="Public Project"
             data-placement="left" data-trigger="hover"
             <% end %> >
              <h4><%= fa_icon "eye" %> Reader</h4>
              <ul>
                <li>See private projects.</li>
                <li>Member on project page.</li>
              </ul>
              <%= link_to raw(f.radio_button(:permission, '3') + ' Select'), '',
                :class => 'btn btn-default', :disabled => @project.public %>
            </div>
            <div class="col-md-3 permission <% unless @project.public %>extra-faded<% end %>"
             <% unless @project.public %>
             data-toggle="popover" data-content="You cannot add subscribers to private projects." data-original-title="Private Project"
             data-placement="left" data-trigger="hover"
             <% end %> >
              <h4><%= fa_icon "bookmark" %> Subscriber</h4>
              <ul>
                <li>Track project updates.</li>
                <li>Notified for activity.</li>
              </ul>
              <%= link_to raw(f.radio_button(:permission, '4') + ' Select'), '',
                  :class => 'btn btn-default', :disabled => !@project.public %>
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= link_to 'Add Member', '', :class => 'btn btn-success btnSubmit disabled' %>
      <%= link_to 'Cancel', '', :class => 'btn btn-default btnCancel', :data => {:dismiss => 'modal'} %>
    </div>
  </div>
</div>
