<h2>Project Admin</h2>

<h3>User Permissions</h3>
<ul>
	{% for perm in perms %}
		<li>
			{{ perm.username }} 
			(write = {{ perm.can_write }}, admin = {{ perm.can_admin }})
		</li>
	{% endfor %}
</ul>

<h3>Add User</h3>

<p>{{ message }}</p>
{{ validation_errors() | raw }}

{{ form_open() | raw }}
	{{ form_label('Username', 'username') | raw }}
	{{ form_input('username', set_value('username')) | raw }}
	<br />
	{{ form_label('Write', 'write') | raw }}
	{{ form_checkbox('write', '1', set_checkbox('write', '1')) | raw }}
	{{ form_label('Admin', 'admin') | raw }}
	{{ form_checkbox('admin', '1', set_checkbox('admin', '1')) | raw }}
	<br />
	{{ form_submit('add_user', 'Submit') | raw }}
{{ form_close() | raw }}
