{% extends "base.twig" %}

{% block title "Project Admin" %}

{% block content %}

<h3>User Permissions</h3>
<ul>
	{% for perm in perms %}
		<li>
			{{ perm.username }} 
			(write = {{ perm.can_write }}, admin = {{ perm.can_admin }})
		</li>
	{% endfor %}
</ul>

<h3>Add User</h3>
<p>{{ message }}</p>
{{ validation_errors() | raw }}
{{ form_open() | raw }}
	{{ form_label('Username', 'username') | raw }}
	{{ form_input('username', set_value('username')) | raw }}
	<br />
	<label class="checkbox">
		{{ form_checkbox('write', '1', set_checkbox('write', '1')) | raw }}
		Write
	</label>
	<label class="checkbox">
		{{ form_checkbox('admin', '1', set_checkbox('admin', '1')) | raw }}
		Admin
	</label>
	<br />
	{{ form_submit({class: 'btn', name: 'add_user'}, 'Submit') | raw }}
{{ form_close() | raw }}

{% endblock %}
