{% extends "base.twig" %}

{% block title "Project Admin: " ~ project.name  %}

{% block content %}

{%
set settings_fields = [
  {
    'label' : 'Make project private',
    'name' : 'private',
    'id' : 'private',
    'checked' : set_value('private', not project.public),
    'value' : '1',
    'type' : 'checkbox',
  },
	{
    'label' : 'Description',
		'name' : 'description',
		'id' : 'description',
		'value' : set_value('description', project.description),
		'maxlength' : 1024,
		'size' : 1024,
    'class' : 'full-width-input',
    'type' : 'textarea',
	},
]
%}

{%
set buttons_settings = [
  {
    'value' : 'Submit',
    'class' : 'btn btn-primary',
    'name' : 'settings'
  }
]
%}

<div class="page-header">
	<h2>
    <p class="breadcrumbs">
      {{ anchor("/projects", "Projects") | raw }} <span class="divider">&gt;</span>
      <span class="current">{{ project.name }}</span> <span class="divider">&gt;</span>
      <span class="current">Admin</span>
    </p>
	</h2>
</div>

<ul class="nav nav-tabs">
  <li{% if form_name == 'members' %} class="active"{% endif %}><a href="#members" data-toggle="tab">Members</a></li>
  <li{% if form_name == 'settings' %} class="active"{% endif %}><a href="#settings" data-toggle="tab">Settings</a></li>
  <li{% if form_name == 'delete' %} class="active"{% endif %}><a href="#delete" data-toggle="tab">Delete</a></li>
</ul>

{% if message %}
  <div class="alert {{ success ? 'alert-success' : 'alert-error' }}">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <i class="{{ success ? 'icon-ok-sign' : 'icon-remove-sign' }}"></i>
    <p>
      {{ message }}
    </p>
  </div>
{% endif %}

<div id="my-tab-content" class="tab-content">
  <div class="tab-pane fade in {% if form_name == 'members' %}active{% endif %}" id="members">
    {% include 'projects/members.twig' with {project: project, perms: perms, admin: true} %}
  </div>

  <div class="tab-pane fade in {% if form_name == 'settings' %}active{% endif %}" id="settings">
    {% include 'forms/generic.twig'
        with {'fields': settings_fields,
              'form' : {class: 'well'},
              'columns': [2, 8, 2],
              'buttons': buttons_settings} %}
  </div>

  <div class="tab-pane fade in {% if form_name == 'delete' %}active{% endif %}" id="delete">
    <p><h5>Delete this project. This cannot be undone.</h5></p>
    <p>Be careful when doing this. All files, members and public records of
    this project existing will be destroyed.</p>
    {{ form_open() | raw }}
    <p>
      {{ form_submit({class: 'btn btn-danger', name: 'delete'}, 'Delete Project') | raw }}
    </p>
    {{ form_close() | raw }}
  </div>
</div>

{% endblock %}
