{% extends "base.twig" %}

{% block title project.name ~ " Changes" %}

{% block content %}

<p class="breadcrumbs">
  {{ anchor("/", "Home") | raw }} <span class="divider">&gt;</span>
  {% if member or admin %}
    {{ anchor("/projects", "My Projects") | raw }} <span class="divider">&gt;</span>
  {% else %}
    {{ anchor("/projects/explore", "Public") | raw }} <span class="divider">&gt;</span>
  {% endif %}
  {{ anchor("/projects/view/#{project.id}", project.name) | raw }} <span class="divider">&gt;</span>
  <span class="current">{{ anchor("/projects/changes/#{project.id}", "Changes") | raw }}</span>
</p>

<div class="separator-xsmall"></div>

<div class="page-header">
  <h1>{{ project.name }}</h1>
</div>

{% include 'projects/changes_list.twig' with {'show_all': 'true'} %}

{% endblock %}
