{% extends "base.twig" %}

{% block title project.name ~ " Changes" %}

{% block content %}

<script>
  var __entityMap = {
    "&": "&amp;",
    "<": "&lt;",
    ">": "&gt;",
    '"': '&quot;',
    "'": '&#39;',
    "/": '&#x2F;'
  };

  String.prototype.escapeHTML = function() {
    return String(this).replace(/[&<>"'\/]/g, function (s) {
      return __entityMap[s];
    });
  }

  $(document).ready(function() {
    $('.changes').click(function(e) {
      e.preventDefault();
    });
  });

  function formatDiff(diff) {
    var lines = diff.split('\n');
    for (var line in lines) {
      var changeType = '';
      if (lines[line][0] == '+') {
        changeType = 'change-addition';
        lines[line] = lines[line].slice(1, lines[line].length).escapeHTML();
      } else if (lines[line][0] == '-') {
        changeType = 'change-deletion';
        lines[line] = lines[line].slice(1, lines[line].length).escapeHTML();
      } else {
        lines[line] = lines[line].escapeHTML();
      }
      lines[line] = '<tr><td class="linenumber">' +
                    (line-3) +
                    '</td><td class="content ' + changeType + '">' +
                    lines[line] +
                    '</td></tr>';
    }
    diff = '';
    for (var line in lines) {
      if (line > 3) {
        diff = diff + lines[line] + '\n';
      }
    }
    return diff + '<tr><td></td><td></td></tr>';
  }

  function expandChanges(change) {
    var change_id = change.getAttribute('data-change_id');
    var td = $("[data-change_id='" + change_id + "']");

    var icon = $(td).find('.icon-plus-sign-alt');

    if (icon.length !== 0 && !icon.data('diffLoaded')) {
      icon.removeClass('icon-plus-sign-alt')
          .addClass('icon-spinner')
          .addClass('icon-spin');

      var form_data = {
        id : change_id,
      };

      $.ajax({
        url: "/changes/diff_ajax",
        type: "POST",
        data: form_data,
        dataType: "json",
        cache: false,

        success: function(json) {
          if (json.error == 0) {
            $(td).find('.icon-spin').removeClass('icon-spin')
                                    .removeClass('icon-spinner')
                                    .addClass('icon-minus-sign');
            var diff = formatDiff(json.message);
            $(td).find('.diff-text').html(diff);
            $(td).find('.diff').show(500);

            icon.data('diffLoaded', 'true');

            $('.file').text('File edited: ' + json.file);
          } else {
            $(td).find('.icon-spin').removeClass('icon-spin')
                                    .removeClass('icon-spinner')
                                    .addClass('icon-plus-sign-alt');
          }
        }
      });
    } else if (icon.length !== 0) {
      $(td).find('.diff').show(500);
      icon.removeClass('icon-plus-sign-alt')
          .addClass('icon-minus-sign');
    } else {
      icon = $(td).find('.icon-minus-sign');
      icon.removeClass('icon-minus-sign')
          .addClass('icon-plus-sign-alt');

      $(td).find('.diff').hide(250);
    }
  }
</script>

<div class="page-header">
  <p class="breadcrumbs">
    {{ anchor("/", "Home") | raw }} <span class="divider">&gt;</span>
    {% if member or admin %}
      {{ anchor("/projects", "My Projects") | raw }} <span class="divider">&gt;</span>
    {% else %}
      {{ anchor("/projects/explore", "Public") | raw }} <span class="divider">&gt;</span>
    {% endif %}
    {{ anchor("/projects/view/#{project.id}", project.name) | raw }} <span class="divider">&gt;</span>
    <span class="current">{{ anchor("/projects/changes/#{project.id}", "Changes") | raw }}</span>
  </p>
</div>

<div class="well-list">
  <table class="table table-condensed">
    <tr>
      <th>
        <h2>All Changes</h2>
      </th>
    </tr>
    {% if changes %}
      {% for change in changes %}
        <tr>
          <td class="tabular clickable" valign="middle" onclick="expandChanges(this)" data-change_id="{{ change.id }}">
            {{ anchor("/users/profile/#{change.user_id}", change.username) | raw }} made change:
            <div class="buttons">
              <div class="button">
                <em>{{ change.commit_ts | date('H:m d/m/Y') }}</em>
              </div>
              <div class="button">
                <a href="#" class="rawlink" data-change_id="{{ change.id }}" rel="tooltip" title="Expand differences">
                  <i class="changes icon-plus-sign-alt icon-large"></i>
                </a>
              </div>
              <div class="button">
                <a href="/changes/files/{{ change.id }}" class="rawlink" rel="tooltip" title="View all files">
                  <i class="icon-folder-close icon-large"></i>
                </a>
              </div>
            </div>
            <div class="description">
              {{ anchor("/changes/view/#{change.id}", change.commit_msg) | raw }}
            </div>
            <div class="diff hide">
              <p class="file"></p>
              <pre class="highlight">
                <table class="diff-text">
                </table>
              </pre>
            </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr class="nohover">
        <td class="tabular">
          No changes yet.
        </td>
      </tr>
    {% endif %}
  </table>
</div>

{% endblock %}
