<script>
  var __entityMap = {
    "&": "&amp;",
    "<": "&lt;",
    ">": "&gt;",
    '"': '&quot;',
    "'": '&#39;',
    "/": '&#x2F;'
  };

  String.prototype.escapeHTML = function() {
    return String(this).replace(/[&<>"'\/]/g, function (s) {
      return __entityMap[s];
    });
  }

  $(document).ready(function() {
    $('.changes').click(function(e) {
      e.preventDefault();
    });

    $('.diff').each(function() {
      $('#diffs').append(this);
    });
  });

  function formatDiff(diff) {
    var formatted = new Object();
    formatted.diff = diff;
    var lines = formatted.diff.split('\n');
    var curLineNum = 1;
    var fileName = '';
    var deletedFiles = new Array();
    var changedFiles = new Array();
    var ignoreUntilNextFile = true;
    var startOfFile;

    function addCurrentFileToChangedList() {
      if (!ignoreUntilNextFile) {
        var fileNameWithoutPath = fileName;
        fileNameWithoutPath = fileNameWithoutPath[1].replace(/^.*[\\\/]/, '');
        changedFiles.push(fileNameWithoutPath);
      }
    }

    for (var line in lines) {
      if (lines[line].indexOf('diff --git') === 0) {
        var header = '';
        // We got a new file, and there was one we were processing before this
        // one.
        if (fileName != '') {
          // If we weren't skipping the last file because it was deleted or
          // invalid, we should add it to the list of files changed.
          addCurrentFileToChangedList();
          header = '</table></pre>';
        }

        fileName = lines[line].match(/diff --git "?a\/(.*)"? "?b\//);

        var fileNameWithoutPath = fileName;
        fileNameWithoutPath = fileNameWithoutPath[1].replace(/^.*[\\\/]/, '');
        lines[line] = header +
                      '<pre id="' + fileNameWithoutPath + '" class="highlight"><table class="table diff-text"><tr><th></th><th>' +
                      fileName[1] +
                      '</th></tr>';
        curLineNum = 1;
        startOfFile = line;
        ignoreUntilNextFile = false;
      } else if (lines[line].indexOf('deleted') === 0) {
        deletedFiles.push(fileName[1]);
        ignoreUntilNextFile = true;

        for (var i = startOfFile; i <= line; i++) {
          lines[i] = null;
        }
      } else if (lines[line].indexOf('index') === 0 ||
                 lines[line].indexOf('deleted') === 0 ||
                 lines[line].indexOf('--') === 0 ||
                 lines[line].indexOf('++') === 0 ||
                 lines[line].indexOf('file: ') === 0 ||
                 lines[line].indexOf('new file mode') === 0) {
        lines[line] = null;
      } else if (lines[line][0] == '@') {
        if (ignoreUntilNextFile) {
          lines[line] = null;
          continue;
        }

        var lineInFile = lines[line].match(/\d+/);
        if (lineInFile > 0) {
          lines[line] = '<tr><td class="linenumber"></td><td class="content change-line">' +
                        'At line ' + lineInFile +
                        '</td></tr>';
        } else {
          lines[line] = null;
        }
      } else {
        if (ignoreUntilNextFile) {
          lines[line] = null;
          continue;
        }

        var changeType = '';
        if (lines[line][0] == '+') {
          changeType = 'change-addition';
          lines[line] = ' ' + lines[line].slice(1, lines[line].length).escapeHTML();
        } else if (lines[line][0] == '-') {
          changeType = 'change-deletion';
          lines[line] = ' ' + lines[line].slice(1, lines[line].length).escapeHTML();
        } else {
          lines[line] = lines[line].escapeHTML();
        }

        lines[line] = '<tr><td class="linenumber">' +
                      curLineNum++ +
                      '</td><td class="content ' + changeType + '">' +
                      lines[line] +
                      '</td></tr>';
      }
    }

    if (fileName != '') {
      addCurrentFileToChangedList();
    }

    formatted.diff = '';
    formatted.changedFiles = '';
    var foundLineWithActualContent;
    for (var line in lines) {
      if (lines[line] !== null) {
        if (lines[line].length > 0) {
          foundLineWithActualContent = true;
        }

        formatted.diff = formatted.diff + lines[line] + '\n';
      }
    }
    formatted.diff += '</table></pre>';

    if (changedFiles.length > 0) {
      var changedFilesString = '<li class="nav-header">Changed Files</li>';

      foundLineWithActualContent = true;

      var first = ' class="active"';
      for (var changedFile in changedFiles) {
        changedFilesString += '<li' + first + '><a href="#' + changedFiles[changedFile] + '">' +
                              changedFiles[changedFile] + '</a></li>';
        first = '';
      }

      changedFilesString += '<li class="nav-header"> </li>';

      formatted.changedFiles += changedFilesString;
    }

    if (deletedFiles.length > 0) {
      var deletedFilesString = '<li class="nav-header deleted">Deleted Files</li>';

      foundLineWithActualContent = true;

      for (var deletedFile in deletedFiles) {
        deletedFilesString += '<li><a></a>' + deletedFiles[deletedFile] + '</li>';
      }

      deletedFilesString += '<li class="nav-header"> </li>';

      formatted.changedFiles += deletedFilesString;
    }

    if (!foundLineWithActualContent) {
      formatted.diff = 'No changes made. Oops!';
    }

    return formatted;
  }

  function expandChanges(change) {
    var change_id = change.getAttribute('data-change_id');
    var td = $("[data-change_id='" + change_id + "']");

    var icon = $(td).find('.icon-plus-sign-alt');

    if (icon.length !== 0 && !icon.data('diffLoaded')) {
      icon.removeClass('icon-plus-sign-alt')
          .addClass('icon-spinner')
          .addClass('icon-spin');

      var form_data = {
        id : change_id,
      };

      $.ajax({
        url: "/changes/diff_ajax",
        type: "POST",
        data: form_data,
        dataType: "json",
        cache: false,

        success: function(json) {
          if (json.error == 0) {
            $(td).find('.icon-spin').removeClass('icon-spin')
                                    .removeClass('icon-spinner')
                                    .addClass('icon-plus-sign-alt');
            var formattedDiff = formatDiff(json.message);
            var diffElement = $("div.diff[data-change_id='" + change_id + "']'");
            var textElement = diffElement.find('.modal-body').find('.text');
            var modalBodyElement = diffElement.find('.modal-body');
            textElement.html(formattedDiff.diff);
            modalBodyElement.find('.nav').html(formattedDiff.changedFiles);
            diffElement.modal('show');

            icon.data('diffLoaded', 'true');

            diffElement.on('shown', function() {
              // XXX: Fix an issue where the nav bar sliding into view doesn't end
              // up in the right spot. This effectively forces reflow.
              $('.nav').css('position', 'relative');
              $('.nav').css('position', 'fixed');

              // XXX: This is all generally ugly. We should clean it up eventually.
              var currentlyScrolledElement = null;
              modalBodyElement.on('scroll', function(e) {
                var scrollTop = $(this).scrollTop();
                var height = $(this).height();
                modalBodyElement.find('pre').each(function() {
                  if (currentlyScrolledElement != this &&
                      scrollTop > $(this).position().top &&
                      scrollTop + height > $(this).position().top + $(this).height()) {
                    if (currentlyScrolledElement !== null) {
                      var id = $(currentlyScrolledElement).attr('id');
                      $('a[href="#' + id + '"]').parent().removeClass('active');
                    }
                    currentlyScrolledElement = this;
                    var id = $(currentlyScrolledElement).attr('id');
                    $('a[href="#' + id + '"]').parent().addClass('active');
                  }
                });
              });
            });
          } else {
            $(td).find('.icon-spin').removeClass('icon-spin')
                                    .removeClass('icon-spinner')
                                    .addClass('icon-plus-sign-alt');
          }
        }
      });
    } else {
      var diffElement = $("div.diff[data-change_id='" + change_id + "']'");
      diffElement.modal('show');
    }
  }
</script>

<div id="diffs">

</div>

<div class="well-list">
  <table class="table table-condensed">
    <tr>
      <th>
        <h2>
          All Changes
          {% if not show_all and changes %}
            <div class="pull-right">
              <a class="btn title-btn" href="{{ site_url("/projects/changes/#{project.id}") | raw }}">
                <i class="icon-circle-arrow-up"></i>
                View all
              </a>
            </div>
          {% endif %}
        </h2>
      </th>
    </tr>
    {% if changes %}
      {% for change in changes %}
        <tr>
          <td class="change" valign="middle" data-change_id="{{ change.id }}">
            {{ anchor("/users/profile/#{change.user_id}", change.username) | raw }} made change:
            <div class="buttons">
              <div class="button">
                {% if show_all %}
                  <em>{{ change.commit_ts | date('M d, Y') }} at {{ change.commit_ts | date('H:m a') }}</em>
                {% else %}
                  <em>{{ time_ago(change.commit_ts) }}</em>
                {% endif %}
              </div>
              <div class="button">
                <a href="#" class="rawlink" onclick="expandChanges(this)" data-change_id="{{ change.id }}" rel="tooltip" title="Expand differences">
                  <i class="changes icon-plus-sign-alt icon-large"></i>
                </a>
              </div>
              <div class="button">
                <a href="/changes/files/{{ change.id }}" class="rawlink" rel="tooltip" title="View all files">
                  <i class="icon-folder-close icon-large"></i>
                </a>
              </div>
            </div>
            <div class="description">
              {{ anchor("/changes/view/#{change.id}", change.commit_msg) | raw }}
            </div>
            <div class="modal modal-large hide fade diff" data-change_id="{{ change.id }}">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>
                  {% if change.commit_msg | length > 30 %}
                    {{ change.commit_msg | slice(0, 30) }} ...
                  {% else %}
                    {{ change.commit_msg }}
                  {% endif %}
                </h3>
              </div>
              <div class="modal-body">
                <div class="row-fluid">
                  <div class="span2 diffNav" data-change_id="{{ change.id }}">
                    <ul class="nav nav-list">
                    </ul>
                  </div>
                  <div class="span10 text" data-change_id="{{ change.id }}">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <a class="btn btn-primary" data-dismiss="modal">Close</a>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr class="nohover">
        <td class="tabular">
          No changes yet.
        </td>
      </tr>
    {% endif %}
  </table>
</div>
