{% extends "base.twig" %}

{% block title "Project Changes" %}

{% block content %}
<div class="page-header">
	<h1>
		Project Changes
		<small>{{ project.name }}</small>
		<span class="pull-right">
			{% if admin %}
				<a class="btn title-btn" href="{{ site_url("/projects/admin/#{project.id}") | raw }}">
					<i class="icon-wrench"></i>
					Admin
				</a>
			{% else %}
				{{ form_open("/projects/subscribe/#{project.id}") | raw }}
					{{ form_submit({class: 'btn btn-primary', name: 'subscribe'},
							subscribed ? 'Unsubscribe' : 'Subscribe') | raw }}
				{{ form_close() | raw }}
			{% endif %}
		</span>
	</h1>
</div>

{% for change in changes %}
	<table class="table table-bordered table-condensed table-striped">
		<thead>
			<tr>
				<td>
					{{ anchor("/changes/view/#{change.id}", change.commit_msg) | raw }}
					by {{ change.username }} on {{ change.commit_ts | date }}
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					Files modified:
				</td>
			</tr>
		</tbody>
	</table>
{% else %}
	No changes yet.
{% endfor %}

{% endblock %}
