<script>
  var __entityMap = {
    "&": "&amp;",
    "<": "&lt;",
    ">": "&gt;",
    '"': '&quot;',
    "'": '&#39;',
    "/": '&#x2F;'
  };

  String.prototype.escapeHTML = function() {
    return String(this).replace(/[&<>"'\/]/g, function (s) {
      return __entityMap[s];
    });
  }

  $(document).ready(function() {
    $('.changes').click(function(e) {
      e.preventDefault();
    });

    $('.diff').each(function() {
      $('#diffs').append(this);
    });
  });

  function formatDiff(diff) {
    var lines = diff.split('\n');
    var curLineNum = 1;
    var fileName = '';
    var deletedFiles = new Array();
    var ignoreUntilNextFile = true;
    var startOfFile;
    for (var line in lines) {
      if (lines[line].indexOf('diff --git') === 0) {
        var header = '';
        if (fileName != '') {
          header = '</table></pre>';
        }

        fileName = lines[line].match(/diff --git "?a\/(.*)"? "?b\//);
        lines[line] = header +
                      '<pre class="highlight"><table class="table diff-text"><tr><th></th><th>' +
                      fileName[1] +
                      '</th></tr>';
        curLineNum = 1;
        startOfFile = line;
        ignoreUntilNextFile = false;
      } else if (lines[line].indexOf('deleted') === 0) {
        deletedFiles.push(fileName[1]);
        ignoreUntilNextFile = true;

        for (var i = startOfFile; i <= line; i++) {
          lines[i] = null;
        }
      } else if (lines[line].indexOf('index') === 0 ||
                 lines[line].indexOf('deleted') === 0 ||
                 lines[line].indexOf('--') === 0 ||
                 lines[line].indexOf('++') === 0 ||
                 lines[line].indexOf('file: ') === 0 ||
                 lines[line].indexOf('new file mode') === 0) {
        lines[line] = null;
      } else if (lines[line][0] == '@') {
        if (ignoreUntilNextFile) {
          lines[line] = null;
          continue;
        }

        var lineInFile = lines[line].match(/\d+/);
        if (lineInFile > 0) {
          lines[line] = '<tr><td class="linenumber"></td><td class="content change-line">' +
                        'At line ' + lineInFile +
                        '</td></tr>';
        } else {
          lines[line] = null;
        }
      } else {
        if (ignoreUntilNextFile) {
          lines[line] = null;
          continue;
        }

        var changeType = '';
        if (lines[line][0] == '+') {
          changeType = 'change-addition';
          lines[line] = ' ' + lines[line].slice(1, lines[line].length).escapeHTML();
        } else if (lines[line][0] == '-') {
          changeType = 'change-deletion';
          lines[line] = ' ' + lines[line].slice(1, lines[line].length).escapeHTML();
        } else {
          lines[line] = lines[line].escapeHTML();
        }

        lines[line] = '<tr><td class="linenumber">' +
                      curLineNum++ +
                      '</td><td class="content ' + changeType + '">' +
                      lines[line] +
                      '</td></tr>';
      }
    }

    diff = '';
    var foundLineWithActualContent;
    for (var line in lines) {
      if (lines[line] !== null) {
        if (lines[line].length > 0) {
          foundLineWithActualContent = true;
        }

        diff = diff + lines[line] + '\n';
      }
    }
    diff += '</table></pre>';

    if (deletedFiles.length > 0) {
      var deletedFilesString = '';

      foundLineWithActualContent = true;

      deletedFilesString += 'Deleted files: ';

      for (var deletedFile in deletedFiles) {
        deletedFilesString += deletedFiles[deletedFile];
        if (deletedFile != deletedFiles.length - 1) {
          deletedFilesString += ', ';
        }
      }

      diff = deletedFilesString + diff;
    }

    if (foundLineWithActualContent) {
      return diff;
    }

    return 'No changes made. Oops!';
  }

  function expandChanges(change) {
    var change_id = change.getAttribute('data-change_id');
    var td = $("[data-change_id='" + change_id + "']");

    var icon = $(td).find('.icon-plus-sign-alt');

    if (icon.length !== 0 && !icon.data('diffLoaded')) {
      icon.removeClass('icon-plus-sign-alt')
          .addClass('icon-spinner')
          .addClass('icon-spin');

      var form_data = {
        id : change_id,
      };

      $.ajax({
        url: "/changes/diff_ajax",
        type: "POST",
        data: form_data,
        dataType: "json",
        cache: false,

        success: function(json) {
          if (json.error == 0) {
            $(td).find('.icon-spin').removeClass('icon-spin')
                                    .removeClass('icon-spinner')
                                    .addClass('icon-plus-sign-alt');
            var diff = formatDiff(json.message);
            var diffElement = $("div[data-change_id='" + change_id + "']'");
            diffElement.find('.modal-body').html(diff);
            diffElement.modal('show');

            icon.data('diffLoaded', 'true');
          } else {
            $(td).find('.icon-spin').removeClass('icon-spin')
                                    .removeClass('icon-spinner')
                                    .addClass('icon-plus-sign-alt');
          }
        }
      });
    } else {
      var diffElement = $("div[data-change_id='" + change_id + "']'");
      diffElement.modal('show');
    }
  }
</script>

<div id="diffs">

</div>

<div class="well-list">
  <table class="table table-condensed">
    <tr>
      <th>
        <h2>
          All Changes
          {% if not show_all %}
            <div class="pull-right">
              <a class="btn title-btn" href="{{ site_url("/projects/changes/#{project.id}") | raw }}">
                <i class="icon-circle-arrow-up"></i>
                View all
              </a>
            </div>
          {% endif %}
        </h2>
      </th>
    </tr>
    {% if changes %}
      {% for change in changes %}
        <tr>
          <td class="change" valign="middle" data-change_id="{{ change.id }}">
            {{ anchor("/users/profile/#{change.user_id}", change.username) | raw }} made change:
            <div class="buttons">
              <div class="button">
                {% if show_all %}
                  <em>{{ change.commit_ts | date('M d, Y') }} at {{ change.commit_ts | date('H:m a') }}</em>
                {% else %}
                  <em>{{ time_ago(change.commit_ts) }}</em>
                {% endif %}
              </div>
              <div class="button">
                <a href="#" class="rawlink" onclick="expandChanges(this)" data-change_id="{{ change.id }}" rel="tooltip" title="Expand differences">
                  <i class="changes icon-plus-sign-alt icon-large"></i>
                </a>
              </div>
              <div class="button">
                <a href="/changes/files/{{ change.id }}" class="rawlink" rel="tooltip" title="View all files">
                  <i class="icon-folder-close icon-large"></i>
                </a>
              </div>
            </div>
            <div class="description">
              {{ anchor("/changes/view/#{change.id}", change.commit_msg) | raw }}
            </div>
            <div class="modal modal-large hide fade diff" data-change_id="{{ change.id }}">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ change.commit_msg | slice(1, 20) }} ...</h3>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <a class="btn btn-primary" data-dismiss="modal">Close</a>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr class="nohover">
        <td class="tabular">
          No changes yet.
        </td>
      </tr>
    {% endif %}
  </table>
</div>
