{% extends "base.twig" %}

{% block title "Project Changes" %}

{% block content %}
<div class="page-header">
  <div class="pull-right">
    {% if admin %}
      <a class="btn btn-large btn-primary title-btn" href="{{ site_url("/projects/admin/#{project.id}") | raw }}">
        <i class="icon-wrench icon-white"></i>
        Admin
      </a>
    {% else %}
      {{ form_open("/projects/subscribe/#{project.id}") | raw }}
        {{ form_input({class: 'hidden', name: 'return_to', value: 'changes'}) | raw }}
        {{ form_submit({class: subscribed ? 'btn btn-large btn-danger' : 'btn btn-large btn-success', name: 'subscribe'},
            subscribed ? 'Unsubscribe' : 'Subscribe') | raw }}
      {{ form_close() | raw }}
    {% endif %}
  </div>
	<h1>
		Project Changes
	</h1>
</div>

{% for change in changes %}
	<table class="table table-bordered table-condensed table-striped">
		<thead>
			<tr>
				<td>
					{{ anchor("/changes/view/#{change.id}", change.commit_msg) | raw }}
					by {{ change.username }} on {{ change.commit_ts | date }}
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					Files modified:
				</td>
			</tr>
		</tbody>
	</table>
{% else %}
	No changes yet.
{% endfor %}

{% endblock %}
