<script>
  var __entityMap = {
    "&": "&amp;",
    "<": "&lt;",
    ">": "&gt;",
    '"': '&quot;',
    "'": '&#39;',
    "/": '&#x2F;'
  };

  String.prototype.escapeHTML = function() {
    return String(this).replace(/[&<>"'\/]/g, function (s) {
      return __entityMap[s];
    });
  }

  $(document).ready(function() {
    $('.changes').click(function(e) {
      e.preventDefault();
    });

    $('.btnViewChanges').click(function(e) {
      e.preventDefault();

      var target = e.target.tagName.toLowerCase() == 'i' ? $(e.target).parent() : $(e.target);

      var change_id = target.data('change_id');

      var icon = $(e.target).find('.changes');
      icon.removeClass('icon-search')
          .addClass('icon-spinner')
          .addClass('icon-spin');

      var form_data = {
        id : change_id,
      };

      $.ajax({
        url: "/changes/diff_ajax",
        type: "POST",
        data: form_data,
        dataType: "json",
        cache: false,

        success: function(json) {
          $(icon).removeClass('icon-spin')
                 .removeClass('icon-spinner')
                 .addClass('icon-search');

          if (json.error == 0) {
            var formattedDiff = formatDiff(json.message, change_id);
            var modalElement = $('#diffModal');
            var modalBodyElement = modalElement.find(".modal-body");
            var textElement = modalElement.find('#modal-text');
            var titleElement = modalElement.find('#modal-title');
            textElement.html(formattedDiff.diff);
            titleElement.html(json.commit_msg);
            modalElement.find('#changed-files').html(formattedDiff.changedFiles);
            modalElement.modal('show');

            modalElement.on('shown', function() {
              // XXX: This is all generally ugly. We should clean it up eventually.
              var currentlyScrolledElement = null;
              modalBodyElement.on('scroll', function(e) {
                var outerScrollTop = $(this).scrollTop();
                var outerHeight = $(this).parent().height() - 100;
                var highestPercentageInView = 0;
                var highestPercentageInViewIndex = null;

                modalElement.find('pre').each(function() {
                  var innerScrollTop = $(this).position().top;
                  var innerHeight = $(this).height();

                  var percentageInView = (Math.min(outerScrollTop + innerScrollTop + innerHeight, outerScrollTop + outerHeight) -
                                          Math.max(outerScrollTop + innerScrollTop, outerScrollTop)) /
                                         innerHeight;

                  if (percentageInView > highestPercentageInView ||
                      // If there are multiple files on the page that are entirely in view,
                      // pick the one that is lowest.
                      (highestPercentageInViewIndex !== null &&
                       Math.abs(percentageInView - highestPercentageInView) < 0.1 &&
                       innerScrollTop > $(highestPercentageInViewIndex).position().top)) {
                    highestPercentageInView = percentageInView;
                    highestPercentageInViewIndex = this;
                  }
                });

                if (highestPercentageInViewIndex !== null &&
                    highestPercentageInViewIndex !== currentlyScrolledElement) {
                  if (currentlyScrolledElement !== null) {
                    var id = $(currentlyScrolledElement).attr('id');
                    $('a[href="#' + id + '"]').parent().removeClass('active');
                  }

                  currentlyScrolledElement = highestPercentageInViewIndex;
                  var id = $(currentlyScrolledElement).attr('id');
                  $('a[href="#' + id + '"]').parent().addClass('active');
                }
              });
            });
          }
        }
      });
    });
  });

  function formatDiff(diff, change_id) {
    var formatted = new Object();
    formatted.diff = diff;
    var lines = formatted.diff.split('\n');
    var curLineNum = 1;
    var numDeletions = 0;
    var fileName = '';
    var fileNameWithoutPath;
    var createdFiles = new Array();
    var deletedFiles = new Array();
    var changedFiles = new Array();
    var ignoreUntilNextFile = true;
    var firstChangeSetInFile = true;
    var startOfFile;

    function addCurrentFileToChangedList() {
      if (!ignoreUntilNextFile) {
        changedFiles.push(fileNameWithoutPath);
      }
    }

    for (var line in lines) {
      if (lines[line].indexOf('diff --git') === 0) {
        var header = '';
        // We got a new file, and there was one we were processing before this
        // one.
        if (fileName != '') {
          // If we weren't skipping the last file because it was deleted or
          // invalid, we should add it to the list of files changed.
          addCurrentFileToChangedList();
          header = '</table></pre>';
        }

        fileName = lines[line].match(/diff --git "?a\/(.*)"? "?b\//);

        fileNameWithoutPath = fileName;
        fileNameWithoutPath = fileNameWithoutPath[1].replace(/^.*[\\\/]/, '');
        lines[line] = header +
                      '<pre id="' + fileNameWithoutPath + '_' + change_id + '" class="highlight"><table class="table table-hover diff-text"><tr><th></th><th>' +
                      fileName[1] +
                      '</th></tr>';
        curLineNum = 1;
        startOfFile = line;
        ignoreUntilNextFile = false;
        firstChangeSetInFile = true;
      } else if (lines[line].indexOf('deleted') === 0) {
        deletedFiles.push(fileNameWithoutPath);
        lines[line] = null;
      } else if (lines[line].indexOf('new file') === 0) {
        createdFiles.push(fileNameWithoutPath);
        lines[line] = null;
      } else if (lines[line].indexOf('index') === 0 ||
                 lines[line].indexOf('deleted') === 0 ||
                 lines[line].indexOf('--') === 0 ||
                 lines[line].indexOf('++') === 0 ||
                 lines[line].indexOf('file: ') === 0 ||
                 lines[line].indexOf('new file mode') === 0) {
        lines[line] = null;
      } else if (lines[line][0] == '@') {
        if (ignoreUntilNextFile) {
          lines[line] = null;
          continue;
        }

        var lineInFile = lines[line].match(/\d+/);
        if (lineInFile == 0) {
          lineInFile = 1;
        }

        curLineNum = lineInFile;

        if (lineInFile >= 0 && !firstChangeSetInFile) {
          lines[line] = '<tr><td class="linenumber"></td><td class="content change-line">&nbsp;' +
                        '</td></tr>';
        } else {
          lines[line] = null;
          firstChangeSetInFile = false;
        }
      } else {
        if (ignoreUntilNextFile) {
          lines[line] = null;
          continue;
        }

        var changeType = '';
        if (lines[line][0] == '+') {
          changeType = 'change-addition';
          lines[line] = lines[line].escapeHTML();
          curLineNum -= numDeletions;
          numDeletions = 0;
        } else if (lines[line][0] == '-') {
          changeType = 'change-deletion';
          lines[line] = lines[line].escapeHTML();
          numDeletions++;
        } else {
          lines[line] = lines[line].escapeHTML();
        }

        lines[line] = '<tr><td class="linenumber">' +
                      curLineNum++ +
                      '</td><td class="content ' + changeType + '">' +
                      lines[line] +
                      '</td></tr>';
      }
    }

    if (fileName != '') {
      addCurrentFileToChangedList();
    }

    formatted.diff = '';
    formatted.changedFiles = '';
    formatted.deletedFiles = '';
    formatted.createdFiles = '';
    var foundLineWithActualContent;
    for (var line in lines) {
      if (lines[line] !== null) {
        if (lines[line].length > 0) {
          foundLineWithActualContent = true;
        }

        formatted.diff = formatted.diff + lines[line] + '\n';
      }
    }
    formatted.diff += '</table></pre>';

    if (changedFiles.length > 0) {
      var changedFilesString = '<li class="nav-header">Updated Files</li><hr class="soften" />';

      foundLineWithActualContent = true;

      var first = ' class="active"';
      for (var changedFile in changedFiles) {
        // Don't include created or deleted files in the changed files list.
        var foundFileInCreatedOrDeletedFiles = false;
        for (var createdFile in createdFiles) {
          if (createdFiles[createdFile] == changedFiles[changedFile]) {
            foundFileInCreatedOrDeletedFiles = true;
            break;
          }
        }

        if (!foundFileInCreatedOrDeletedFiles) {
          for (var deletedFile in deletedFiles) {
            if (deletedFiles[deletedFile] == changedFiles[changedFile]) {
              foundFileInCreatedOrDeletedFiles = true;
              break;
            }
          }
        }

        changedFilesString += '<li' + first + '><a href="#' + changedFiles[changedFile] + '_' + change_id + '">' +
                              changedFiles[changedFile] + '</a></li>';
        first = '';
      }

      formatted.changedFiles += changedFilesString;
    }

    if (deletedFiles.length > 0) {
      var deletedFilesString = '<li class="nav-header">Deleted Files</li><hr class="soften" />';

      foundLineWithActualContent = true;

      for (var deletedFile in deletedFiles) {
        deletedFilesString += '<li><a href="#' + deletedFiles[deletedFile] + '_' + change_id + '">' + deletedFiles[deletedFile] + '</a></li>';
      }

      formatted.deletedFiles += deletedFilesString;
    }

    if (createdFiles.length > 0) {
      var createdFilesString = '<li class="nav-header">Created Files</li><hr class="soften" />';

      foundLineWithActualContent = true;

      for (var createdFile in createdFiles) {
        createdFilesString += '<li><a href="#' + createdFiles[createdFile] + '_' + change_id + '">' + createdFiles[createdFile] + '</a></li>';
      }

      formatted.createdFiles += createdFilesString;
    }

    if (!foundLineWithActualContent) {
      formatted.diff = 'No changes made. Oops!';
    }

    return formatted;
  }
</script>

<div id="diffModal" class="modal modal-responsive hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 id="modal-title">
    </h2>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="files">
        <ul id="changed-files" class="nav nav-list">
        </ul>
      </div>
      <div id="modal-text" class="text">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" data-dismiss="modal">Close</a>
  </div>
</div>

<div class="well-list">
  <table class="table table-hover table-condensed">
    <tr>
      <th>
        <h2>
          {% if show_all %}
            All Updates
          {% else %}
            Recent Updates
          {% endif %}
          {% if not show_all and changes %}
            <div class="pull-right">
              <a class="btn btn-primary btn-valign" href="{{ site_url("/projects/changes/#{project.id}") | raw }}">
                <i class="icon-double-angle-right"></i>
                View all
              </a>
            </div>
          {% endif %}
        </h2>
      </th>
    </tr>
    {% if changes %}
      {% for change in changes %}
        <tr>
          <td class="change" valign="middle" data-change_id="{{ change.id }}">
            {{ anchor("/users/profile/#{change.user_id}", change.username) | raw }} updated:
            <div class="buttons shrink">
              <div class="date">
                {% if show_all %}
                  <em>{{ change.commit_ts | date('M d, Y') }} at {{ change.commit_ts | date('H:m a') }}</em>
                {% else %}
                  <em>{{ time_ago(change.commit_ts) }}</em>
                {% endif %}
              </div>
              <a href="#" class="btnViewChanges btn btn-info btn-small" data-change_id="{{ change.id }}" rel="tooltip" title="View differences">
                <i class="changes icon-search"></i>
              </a>
              <a href="scigit://view_change?project_id={{ change.proj_id }}&commit_hash={{ change.commit_hash }}" class="btn btn-small" rel="tooltip" title="View all files">
                <i class="icon-copy"></i>
              </a>
            </div>
            <div class="description">
              {{ anchor("/changes/view/#{change.id}", change.commit_msg) | raw }}
            </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr class="nohover">
        <td class="tabular">
          No changes yet.
        </td>
      </tr>
    {% endif %}
  </table>
</div>
