<script>
var create_project_submitted = false;

$(document).ready(function() {
  $('#createProject').submit(createProject);
  $('.project-create').click(function(e) {
    if (create_project_submitted) {
      e.preventDefault();
      return false;
    }
  });
  $('.project-cancel').click(function(e) {
    if (create_project_submitted) {
      e.preventDefault();
      return false;
    }
  });
});

function createProject(event) {
  event.preventDefault();

  create_project_submitted = true;

  var form_data = {
    name : $("[name='name']").val(),
    public : $("[name='public']").val(),
  };

  $(".project-create").val("Loading...");
  $(".project-create").attr('class', 'butn disabled project-create');
  $(".project-cancel").attr('class', 'butn disabled project-cancel');

  $.ajax({
    url: "/projects/create_ajax",
    type: "POST",
    data: form_data,
    dataType: "json",
    cache: false,

    success: function (json) {
      $(".project-create").val("Create");
      if (json.error == 0) {
        $('#createProjectError').hide();
        $('#createProjectSuccess').html(json.message).show();
        setTimeout(function() {
          var waitingReload = true;

          $('#createProject').modal('hide');
          $('#createProject').on('hidden', function() {
            if (waitingReload) {
              window.location.href = '/projects/view/' + json.proj_id;
            }
          });
        }, 1500);
      } else {
        $('#createProjectError').html(json.message).show();
        $(".project-create").attr('class', 'butn butn-primary project-create');
        $(".project-cancel").attr('class', 'butn project-cancel');
      }
      create_project_submitted = false;
    }
  });
}
</script>

<div id="createProject" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Create New Project</h3>
  </div>
  {{ form_open('') | raw }}
  <div class="modal-body">
    <div class="create-project">
      <div id="createProjectError" class="alert alert-error hide"></div>
      <div id="createProjectSuccess" class="alert alert-success hide"></div>
      <div class="public">
        <div class="hide">
          {{ form_checkbox('public', 1, set_value('public')) | raw }}
        </div>
        {{ form_label('Private', 'public') | raw }}
        <a href="#togglePublic" class="icon-rawlink" rel="tooltip" title="Make public" data-placement="bottom">
          <i class="icon-lock icon-2x"></i>
        </a>
      </div>
      <div class="grey-separator"></div>
      <div class="name">
        {{ form_label('Project Name', 'name') | raw }}
        {{ form_input('name', set_value('name')) | raw }} <br />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    {{ form_submit({class: 'butn butn-primary project-create', name: 'create_project'}, 'Create') | raw }}
    <a class="butn project-cancel" data-dismiss="modal">Cancel</a>
  </div>
  {{ form_close() | raw }}
</div>
