<script>
var create_project_submitted = false;

$(document).ready(function() {
  $('#createProject').submit(createProject);
  $('.project-create').click(function(e) {
    if (create_project_submitted) {
      e.preventDefault();
      return false;
    }
  });
  $('.project-cancel').click(function(e) {
    if (create_project_submitted) {
      e.preventDefault();
      return false;
    }
  });
  $('#togglePublic').click(togglePublic);
});

function createProject(event) {
  event.preventDefault();

  create_project_submitted = true;

  var form_data = {
    name : $("[name='name']").val(),
    public : Number($("[name='public']").prop('checked')),
  };

  $(".project-create").val("Loading...");
  $(".project-create").attr('class', 'btn disabled project-create');
  $(".project-cancel").attr('class', 'btn disabled project-cancel');

  $.ajax({
    url: "/projects/create_ajax",
    type: "POST",
    data: form_data,
    dataType: "json",
    cache: false,

    success: function (json) {
      $(".project-create").val("Create");
      if (json.error == 0) {
        $('#createProjectError').hide();
        $('#createProjectSuccess').html('<i class="icon-ok-sign"></i><p>' + json.message + '</p>').show();

        setTimeout(function() {
          $('.modal-show-only').fadeIn(500);
          $('#createProjectSuccess').html('<i class="icon-spinner icon-spin"></i> Loading new project...');
          window.location.href = '/projects/view/' + json.proj_id;
        }, 1500);
      } else {
        $('#createProjectError').html('<i class="icon-remove-sign"></i><p>' + json.message + '</p>').show();
        $(".project-create").attr('class', 'btn btn-primary project-create');
        $(".project-cancel").attr('class', 'btn project-cancel');
      }
      create_project_submitted = false;
    }
  });
}

function togglePublic(event) {
  event.preventDefault();

  if ($("input[name='public']").attr('checked')) {
    $("#togglePublicIcon").attr('class', 'icon-lock icon-2x');
    $("#togglePublic").tooltip('hide')
                      .attr('data-original-title', 'Make public')
                      .tooltip('fixTitle')
                      .tooltip('show');
    $("label[for='public']").text("Private");
    $("input[name='public']").prop('checked', false);
  } else {
    $("#togglePublicIcon").attr('class', 'icon-group icon-2x');
    $("#togglePublic").tooltip('hide')
                      .attr('data-original-title', 'Make private')
                      .tooltip('fixTitle')
                      .tooltip('show');
    $("label[for='public']").text("Public");
    $("input[name='public']").prop('checked', true);
  }
}
</script>

<div class="modal-show-only hide"></div>

<div id="createProject" class="modal modal-small hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2>Create New Project</h2>
  </div>
  {{ form_open('') | raw }}
  <div class="modal-body">
    <div class="create-project">
      <div id="createProjectError" class="alert alert-error hide"></div>
      <div id="createProjectSuccess" class="alert alert-success hide"></div>
      <div class="name">
        {{ form_label('Project Name', 'name') | raw }}
        {{ form_input('name', set_value('name')) | raw }} <br />
      </div>
      <div class="grey-separator"></div>
      <div class="public">
        <div class="hide">
          {{ form_checkbox('public', 1, set_value('public')) | raw }}
        </div>
        {{ form_label('Private', 'public') | raw }}
        <a href="#" id="togglePublic" class="rawlink" rel="tooltip" title="Make public" data-placement="bottom">
          <i id="togglePublicIcon" class="icon-lock icon-2x"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    {{ form_submit({class: 'btn btn-primary project-create', name: 'create_project'}, 'Create') | raw }}
    <a class="btn project-cancel" data-dismiss="modal">Cancel</a>
  </div>
  {{ form_close() | raw }}
</div>
