{% extends "base.twig" %}

{% block title %}
My Projects
{% endblock %}

{% block content %}

<script>
$(document).ready(function() {
  $('.unsubscribe').click(function(e) { e.preventDefault() });
});

function unsubscribe(link) {
  var form_data = {
    proj_id : link.getAttribute('data-subid')
  };

  $.ajax({
    url: "subscribe_ajax",
    type: "POST",
    data: form_data,
    dataType: "json",
    cache: false,

    success: function(json) {
      if (json.error == 0) {
        window.location.href = window.location.href;
      }
    }
  })
}
</script>

<div class="row-fluid">
  <div class="span6 blue-well-list">
    <table class="table">
      <tr>
        <th>
          <h1>
            My Projects
            <div class="pull-right">
              <a href="#createProject" rel="tooltip" title="Create new project" class="icon-rawlink" data-toggle="modal">
                <i class="icon-plus"></i>
              </a>
            </div>
          </h1>
        </th>
      </tr>
      {% if projects %}
        {% for project in projects %}
          <tr>
            <td class="project" valign="middle" data-proj_id="{{ project.id }}">
              {{ anchor("/projects/view/#{project.id}", project.name) | raw }}
              <div class="buttons">
              {% if project.permission b-and 8 %}
                <a href="{{ site_url("/projects/admin/#{project.id}", 'Admin') | raw }}" rel="tooltip" title="Administrate" class="icon-rawlink btn-mini">
                  <i class="icon-cog icon-large"></i>
                </a>
              {% endif %}
              </div>
              <div class="description">
                {% if project.description %}
                  {{ project.description | slice(0, 120) }} ...
                {% else %}
                  No description.
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr class="nohover">
          <td valign="middle">
            <p>You don't have access to any projects. {{ anchor("/projects/create", "Create a Project") | raw }} or have someone add you to one.</p>
          </td>
        </tr>
      {% endif %}
    </table>
  </div>

  <div class="span6 well-list">
    <table class="table">
      <tr>
        <th>
          <h1>Subscriptions</h1>
        </th>
      </tr>
      {% if subscriptions %}
        {% for subscription in subscriptions %}
          <tr>
            <td class="project" valign="middle" data-proj_id="{{ subscription.id }}">
              {{ anchor("/projects/view/#{subscription.id}", subscription.name) | raw }}
              <div class="buttons">
                <a href="#" onclick="unsubscribe(this)" class="unsubscribe icon-rawlink" data-subid="{{ subscription.id }}" rel="tooltip" title="Cancel Subscription">
                  <i class="icon-ban-circle icon-large"></i>
                </a>
              </div>
              <div class="description">
                {% if project.description %}
                  {{ project.description | slice(0, 120) }} ...
                {% else %}
                  No description.
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr class="nohover">
          <td valign="middle">
            <p>You have no subscriptions. Visit the {{ anchor("/projects/explore", "Explore") | raw }} section for some suggestions!</p>
          </td>
        </tr>
      {% endif %}
    </table>
  </div>
</div>

<div class="separator"></div>

{% endblock %}
