{% extends "base.twig" %}

{% block title %}
My Projects
{% endblock %}

{% block content %}

<div class="row-fluid">
  <div class="span6 well blue-well">
    <h1>
      My Projects
      <div class="pull-right">
        <a href="{{ site_url('/projects/create') | raw }}" rel="tooltip" title="Create new project" class="icon-rawlink">
          <i class="icon-plus"></i>
        </a>
      </div>
    </h1>
    <hr class="soften" />

    {% if projects %}
      <table class="table table-hover table-noheader">
        {% for project in projects %}
          <tr>
            <td valign="middle">
              {{ anchor("/projects/view/#{project.id}", project.name) | raw }}
              <div class="pull-right">
              {% if project.permission b-and 8 %}
                <a href="{{ site_url("/projects/admin/#{project.id}", 'Admin') | raw }}" rel="tooltip" title="Administrate" class="icon-rawlink btn-mini">
                  <i class="icon-cog icon-large"></i>
                </a>
              {% endif %}
              </div>
              <div class="activity-msg">
                {% if project.description %}
                  {{ project.description | slice(0, 120) }} ...
                {% else %}
                  No description.
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>You don't have access to any projects. {{ anchor("/projects/create", "Create a Project") | raw }} or have someone add you to one.
    {% endif %}
  </div>

  <div class="span6 well">
    <h1>Subscriptions</h1>
    <hr class="soften" />
    {% if subscriptions %}
      <table class="table table-hover table-noheader">
        {% for subscription in subscriptions %}
          <tr>
            <td valign="middle">
              {{ anchor("/projects/view/#{subscription.id}", subscription.name) | raw }}
              <div class="pull-right">
                <a href="#" rel="tooltip" title="Cancel Subscription" class="icon-rawlink">
                  <i class="icon-ban-circle icon-large"></i>
                </a>
              </div>
              <div class="activity-msg">
                {% if project.description %}
                  {{ project.description | slice(0, 120) }} ...
                {% else %}
                  No description.
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>You have no subscriptions. Visit the {{ anchor("/projects/explore", "Explore") | raw }} section for some suggestions!
    {% endif %}
  </div>
</div>

<div class="separator"></div>

{% endblock %}
