<div id="addMember" class="modal modal-large hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h1>Add Member</h1>
  </div>
  <div class="modal-body">
    {{ form_open("/projects/invite/#{project.id}") | raw }}
      <h3>Step 1: New or Existing User</h3>
      <h6>Who do you want to add to the project as a contributor?</h6>
      <p></p>
      <div class="row-fluid">
        <div id="user-invite" class="span6 center well">
          <h4>Existing User</h4>
          <p></p>
          <p>Does the contributor you want to add already have a SciGit account? Search for them here.</p>
          {{ form_input({class: 'full-width-input', placeholder: 'Username', name: 'invite', maxlength: 40, autocomplete: 'off'}) | raw }}
          <i class="hide"></i>
        </div>
        <div id="email-invite" class="span6 center well">
          <h4>New User</h4>
          <p></p>
          <p>Invite someone to SciGit! Once they've joined, they'll be added to your project.</p>
          {{ form_input({class: 'full-width-input', placeholder: 'Email Address', name: 'invite', maxlength: 40, autocomplete: 'off'}) | raw }}
          <i class="hide"></i>
        </div>
      </div>
      <h3>Step 2: Permissions</h3>
      <h6>What permissions do you want to give this person?</h6>
      <p></p>
      <div class="well">
        <div id="permissions" class="row-fluid">
          <div class="span4 center">
            <h4><i class="black icon-wrench"></i> Administrator</h4>
            <p></p>
            <p>This user can edit the project and its settings, and add more contributors, or remove them.</p>
            <p></p>
            <a href="#" class="btn btn-large btn-primary">{{ form_radio({name: 'permissions'}) | raw }} Select</a>
          </div>
          <div class="span4 center">
            <h4><i class="black icon-edit"></i> Contributor</h4>
            <p></p>
            <p>This user can make changes to the contents of the project, but can't change settings or users.</p>
            <p></p>
            <a href="#" class="btn btn-large btn-primary">{{ form_radio({name: 'permissions'}) | raw }} Select</a>
          </div>
          <div class="span4 center">
            <h4><i class="black icon-bookmark-empty"></i> Subscriber</h4>
            <p></p>
            <p>This user can only track changes to this project. Use this to invite people to watch your project.</p>
            <p></p>
            <a href="#" class="btn btn-large btn-primary">{{ form_radio({name: 'permissions'}) | raw }} Select</a>
          </div>
        </div>
      </div>
    {{ form_close() | raw }}
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Add Member</a>
    <a class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>
