{% extends "base.twig" %}

{% block title "Project Admin" %}

{% block content %}

<div class="page-header">
  <div class="pull-right">
    {% if admin %}
      <a class="btn btn-large btn-primary title-btn" href="{{ site_url("/projects/admin/#{project.id}") | raw }}">
        <i class="icon-wrench icon-white"></i>
        Admin
      </a>
    {% else %}
      {{ form_open("/projects/subscribe/#{project.id}") | raw }}
        {{ form_input({class: 'hidden', name: 'return_to', value: 'view'}) | raw }}
        {{ form_submit({class: subscribed ? 'btn btn-large btn-danger' : 'btn btn-large btn-success', name: 'subscribe'},
            subscribed ? 'Unsubscribe' : 'Subscribe') | raw }}
      {{ form_close() | raw }}
    {% endif %}
  </div>
	<h1>
		{{ project.name }}
	</h1>
</div>

<div class="row-fluid">
  <div class="span4">
    <div class="well">
      <h3>Stats</h3>
      <hr class="soften">
      <table width="100%">
        <tr>
          <td>
            <p><i class="icon-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ subscribers }}</strong> Subscribers</p>
          </td>
          <td>
            <p><i
            class="icon-circle-arrow-up"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ changes_num }}</strong> Changes</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><i class="icon-edit"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ contributors }}</strong> Contributors</p>
          </td>
          <td>
            <p><i class="icon-wrench"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ administrators }}</strong> Administrators</p>
          </td>
        </tr>
      </table>
      <p></p>
      <p>Created <em>{{ project.created_ts | date("F j, Y") }}</em></p>
    </div>
    <div class="well blue-well">
      <h3>Description</h3>
      <hr class="soften" />
      {{ word_wrap(project.description, 30) }}
    </div>
    <div class="well">
      <h3>Contributors</h3>
      <hr class="soften" />
      <ul>
        {% for perm in perms %}
          <li>
            {{ anchor("/users/profile/#{perm.user_id}", perm.username) | raw }}
            {% if perm.can_admin %}
              <i class="icon-wrench"></i>
            {% else %}
              <i class="icon-edit"></i>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="span8 well light-well">
    <div class="row-fluid">
      <div class="span3">
        <h3>Recent Changes</h3>
      </div>
      <div class="span9">
        <a class="btn title-btn" href="{{ site_url("/projects/changes/#{project.id}") | raw }}">
          <i class="icon-circle-arrow-up"></i>
          View all
        </a>
      </div>
    </div>
    <hr class="soften" />
    <ul>
      {% for change in changes %}
        <li class="activity-entry">
          <strong>
            {{ anchor("/users/profile/#{change.user_id}", change.username) | raw}} changed
          </strong>
          <p class="pull-right">
            <span class="date">{{ time_ago(change.commit_ts) }}</span>
          </p>
          <div class="activity-msg">
            {{ anchor("/changes/view/#{change.id}", change.commit_msg) | raw }}
          </div>
          {% if not loop.last %}
            <hr class="soften" />
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
