{{ form_open('', form) | raw }}
  {% for field in fields %}
    <div class="control-group
      {% if errors[field['name']] or form_error(field['name']) %} error {% endif %}
      {% if field['hidden'] %} hidden {% endif %} ">
      <div class="row-fluid">
        <div class="span{{ columns[0] }}">
          <label class="control-label {% if field['required'] %}required{% endif %}" for="{{ field['id'] }}">
            <p class="inner-label">{{ field['label'] }}</p>
          </label>
        </div>
        <div class="span{{ columns[1] }}">
          <div class="controls">
            {% if field['type'] == 'textarea' %}
              {{ form_textarea(field) | raw }}
            {% elseif field['type'] == 'static' %}
              <em>{{ field['value'] }}</em>
            {% elseif field['type'] == 'checkbox' %}
              {{ form_checkbox(field) | raw }}
            {% elseif field['type'] == 'password' %}
              {{ form_password(field) | raw }}
            {% else %}
              {{ form_input(field) | raw }}
            {% endif %}
          </div>
        </div>
      </div>
      {% if errors[field['name']] or form_error(field['name']) %}
        <div class="row-fluid">
          <div class="span{{ columns[0] }}"></div>
          <div class="span{{ columns[1] }}">
            <span class="help-inline">
              {{ form_error(field['name']) | raw }}
              {{ errors[field['name']] }}
            </span>
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
  <ul class="buttons">
    {% for button in buttons %}
      <li>
        {% if button['type'] == 'link' %}
          <a href="{{ button.href }}" class="{{ button.class }}">{{ button.value }}</a>
        {% else %}
          {{ form_submit(button) | raw }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{{ form_close() | raw }}
