{{ form_open('', form) | raw }}
  {% for field in fields %}
    <div class="control-group {% if errors[field['name']] or form_error(field['name']) %} error {% endif %}">
      <div class="row-fluid">
        <div class="span{{ columns[0] }}">
          <label class="control-label {% if field['required'] %}required{% endif %}" for="{{ field['id'] }}">
            <p class="inner-label">{{ field['label'] }}</p>
          </label>
        </div>
        <div class="span{{ columns[1] }}">
          <div class="controls">
            {% if field['type'] == 'input' %}
              {{ form_input(field) | raw }}
            {% elseif field['type'] == 'textarea' %}
              {{ form_textarea(field) | raw }}
            {% elseif field['type'] == 'static' %}
              <span class="date">{{ field['value'] }}</span>
            {% elseif field['type'] == 'checkbox' %}
              {{ form_checkbox(field) | raw }}
            {% elseif field['type'] == 'password' %}
              {{ form_password(field) | raw }}
            {% endif %}
          </div>
        </div>
        <div class="span{{ columns[2] }}">
          <span class="help-inline">
            {{ form_error(field['name']) | raw }}
            {{ errors[field['name']] }}
          </span>
        </div>
      </div>
    </div>
  {% endfor %}
  {{ form_submit({class: 'btn btn-primary', name: form_name, value: 'Save'}) | raw }}
{{ form_close() | raw }}
