{% extends "base.twig" %}

{% block title "My Account" %}

{% block content %}

{% include 'users/delete_pub_key.twig' %}

<script>
  $(document).ready(function() {
    $('#instructions').popover();
  });
</script>

<p class="breadcrumbs">
  {{ anchor("/", "Home") | raw }} <span class="divider">&gt;</span>
  <span class="current">{{ anchor("/users/profile", "Settings") | raw }} </span>
</p>
<hr class="soften"></hr>

{%
set settings_fields = [
  {
    'label' : 'Receive email updates',
    'name' : 'email_updates',
    'id' : 'email_updates',
    'checked' : set_value('email_updates', not user.disable_email),
    'value' : '1',
    'type' : 'checkbox',
  },
  {
    'label' : 'Make profile private',
    'name' : 'private',
    'id' : 'private',
    'checked' : set_value('private', user.private),
    'value' : '1',
    'type' : 'checkbox',
  },
]
%}

{%
set profile_fields = [
	{
    'label' : 'Username',
		'name': 'username',
		'id': 'username',
		'value': set_value('username', user.username),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'static',
	},
	{
    'label' : 'Email',
		'name': 'email',
		'id': 'email',
		'value': set_value('email', user.email),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'email',
    'required' : 'true',
	},
	{
    'label' : 'Title',
		'name': 'title',
		'id': 'title',
		'value': set_value('title', user.title),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'text',
	},
	{
    'label' : 'Organization',
		'name': 'organization',
		'id': 'organization',
		'value': set_value('organization', user.organization),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'text',
	},
	{
    'label' : 'Location',
		'name': 'location',
		'id': 'location',
		'value': set_value('location', user.location),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'text',
	},
	{
    'label' : 'Name',
		'name': 'name',
		'id': 'name',
		'value': set_value('name', user.fullname),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'text',
	},
	{
    'label' : 'About',
		'name': 'about',
		'id': 'about',
		'value': set_value('about', user.about),
		'maxlength': 1024,
		'size': 1024,
    'class' : 'full-width-input',
    'type' : 'textarea',
	},
]
%}

{# Hidden password input to get rid of a bug on some browsers where the first
   password field is filled with some garbage data. #}
{%
set password_fields = [
  {
    'label': '',
    'name': 'hidden',
    'id': 'hidden',
    'type': 'password',
    'hidden': 'true',
  },
  {
    'label' : 'Current Password',
		'name': 'current_password',
		'id': 'current_password',
		'value': set_value('current_password'),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'password',
    'required': 'true',
  },
  {
    'label' : 'New Password',
		'name': 'new_password',
		'id': 'new_password',
		'value': set_value('new_password'),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'password',
    'required': 'true',
  },
  {
    'label' : 'Confirm New Password',
		'name': 'confirm_new_password',
		'id': 'confirm_new_password',
		'value': set_value('confirm_new_password'),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'password',
    'required': 'true',
  },
]
%}

{%
set buttons_settings = [
  {
    'value' : 'Save',
    'class' : 'btn btn-primary',
    'name' : 'settings'
  }
]
%}

{%
set buttons_profile = [
  {
    'value' : 'Save',
    'class' : 'btn btn-primary',
    'name' : 'profile'
  }
]
%}

{%
set buttons_password = [
  {
    'value' : 'Save',
    'class' : 'btn btn-primary',
    'name' : 'password'
  }
]
%}

{% include 'users/add_pub_key.twig' %}

<ul class="nav nav-tabs">
  <li{% if form_name == 'settings' %} class="active"{% endif %}><a href="#settings" data-toggle="tab">Settings</a></li>
  <li{% if form_name == 'profile' %} class="active"{% endif %}><a href="#profile" data-toggle="tab">Profile</a></li>
  <li{% if form_name == 'password' %} class="active"{% endif %}><a href="#password" data-toggle="tab">Password</a></li>
  <li{% if form_name == 'advanced' %} class="active"{% endif %}><a href="#advanced" data-toggle="tab">Advanced</a></li>
</ul>

{% if message %}
  <div class="alert {{ success ? 'alert-success' : 'alert-error' }}">
    <i class="{{ success ? 'icon-ok-sign' : 'icon-remove-sign' }}"></i>
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p>
      {{ message }}
    </p>
  </div>
{% endif %}

<div id="my-tab-content" class="tab-content">
  <div class="tab-pane fade in {% if form_name == 'settings' %}active{% endif %}" id="settings">
    <h3>Settings</h3>
    <p></p>
    {% include 'forms/generic.twig'
        with {'fields': settings_fields,
              'form' : {class: 'well'},
              'columns': [3, 9],
              'buttons': buttons_settings} %}
  </div>
  <div class="tab-pane fade in {% if form_name == 'profile' %}active{% endif %}" id="profile">
    <h3>Profile</h3>
    <p></p>
    {% include 'forms/generic.twig'
      with {'fields': profile_fields,
            'form': {class: 'well'},
            'columns': [2, 8],
            'buttons': buttons_profile} %}
  </div>
  <div class="tab-pane fade in {% if form_name == 'password' %}active{% endif %}" id="password">
    <h3>Password</h3>
    <p></p>
    {% include 'forms/generic.twig'
      with {'fields': password_fields,
            'form': {class: 'well'},
            'columns': [2, 8],
            'buttons': buttons_password} %}
  </div>
  <div class="tab-pane fade in {% if form_name == 'advanced' %}active{% endif %}" id="advanced">
    <h3>Advanced</h3>
    <p></p>
    <div class="row-fluid">
      <div class="span6">
        <div class="well-list">
          <table class="table table-hover table-white">
            <tr>
              <th class="tabular">
                <h4>
                  Public SSH Keys
                  <div class="pull-right">
                    <a href="#addPubKey" rel="tooltip" title="Add new public SSH key" class="btn btn-large btn-primary btn-valign-small" data-toggle="modal">
                      <i class="icon-plus"></i> Add
                    </a>
                  </div>
                </h4>
                <p></p>
                <h6>
                  For terminal Git users.
                  <a id="instructions" rel="popover"
                   data-html="true" data-original-title="Using Terminal Git with SciGit Instructions" data-placement="right" data-trigger="hover"
                   data-content="<p>To use terminal Git, you first have to add your public key here. Once that's done, you can find a Git URL on
                   each project page. Use it to clone a project.</p>
                   <p>Some features are restricted. You cannot branch, merge commit, or non-fast-forward. We're working on supporting these.</p>
                   <p>When pulling or merging, you should use the <em>--rebase</em> flag.</p>">Instructions</a>.
                </h6>
              </th>
            </tr>
            {% if ssh_keys %}
              {% for ssh_key in ssh_keys %}
                <tr>
                  <td class="tabular">
                    {{ ssh_key.name | default("No description") }}
                    <div class="buttons shrink">
                      <a class="deletePubKey btn btn-danger btn-small" data-key_id="{{ ssh_key.id }}">
                        <i class="icon-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr class="nohover">
                <td>
                  No public keys added.
                </td>
              </tr>
            {% endif %}
          </table>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
