{% extends "base.twig" %}

{% block title "My Account" %}

{% block content %}

<div class="page-header">
	<h1>My Account</h1>
</div>

<dl class="dl-horizontal">
	<dt>Username</dt>
	<dd>{{ user.username }}</dd>
	<dt>Email</dt>
	<dd>{{ user.email }}</dd>
</dl>

<p>
	<h3>Public Keys</h3>
</p>
<div class="row">
	<table class="span6 table table-condensed table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Key</th>
				<th>Comment</th>
			</tr>
		</thead>
		<tbody>
		{% for key in public_keys %}
			<tr>
				<td>{{ key.name }}</td>
				<td>{{ ellipsize(key.public_key, 32, 0.5) | raw }}</td>
				<td>{{ key.comment }}</td>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<h3>Add Public Key</h3>

<p>{{ message }}</p>
{{ validation_errors() | raw }}

<div class="row">
	<div class="span6">
	{{ form_open('', {class: 'well'})| raw }}
		{{ form_label('Name', 'name') | raw }}
		{{ form_input('name', set_value('name')) | raw }}
		<br />
		{{ form_textarea('public_key', set_value('public_key')) | raw }}
		<br />
		{{ form_submit({class: 'btn btn-primary', name: 'add_public_key', value: 'Submit'}) | raw }}
	{{ form_close() | raw }}
	</div>
</div>

{%
set fields = [
	{
    'label' : 'Username',
		'name': 'username',
		'id': 'username',
		'value': set_value('username', user.username),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'static',
	},
	{
    'label' : 'Email',
		'name': 'email',
		'id': 'email',
		'value': set_value('email', user.email),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'input',
	},
	{
    'label' : 'Title',
		'name': 'title',
		'id': 'title',
		'value': set_value('title', user.title),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'input',
	},
	{
    'label' : 'Organization',
		'name': 'organization',
		'id': 'organization',
		'value': set_value('organization', user.organization),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'input',
	},
	{
    'label' : 'Location',
		'name': 'location',
		'id': 'location',
		'value': set_value('location', user.location),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'input',
	},
	{
    'label' : 'Name',
		'name': 'name',
		'id': 'name',
		'value': set_value('name', user.fullname),
		'maxlength': 40,
		'size': 40,
    'class' : 'full-width-input',
    'type' : 'input',
	},
	{
    'label' : 'About',
		'name': 'about',
		'id': 'about',
		'value': set_value('about', user.about),
		'maxlength': 1024,
		'size': 1024,
    'class' : 'full-width-input',
    'type' : 'textarea',
	},
]
%}

{{ form_open('', {class: 'well'}) | raw }}
  {% for field in fields %}
    <div class="control-group {% if errors[field['name']] or form_error(field['name']) %} error {% endif %}">
      <label class="control-label" for="{{ field['id'] }}">
        {{ field['label'] }}
      </label>
      <div class="controls">
        {% if field['type'] == 'input' %}
          {{ form_input(field) | raw }}
        {% elseif field['type'] == 'textarea' %}
          {{ form_textarea(field) | raw }}
        {% elseif field['type'] == 'static' %}
          <span class="date">{{ field['value'] }}</span>
        {% endif %}
        <span class="help-inline">
          {{ form_error(field['name']) | raw }}
          {{ errors[field['name']] }}
        </span>
      </div>
    </div>
  {% endfor %}
  {{ form_submit({class: 'btn btn-primary', name: 'change', value: 'Submit'}) | raw }}
{{ form_close() | raw }}

{% endblock %}
