{% extends "base.twig" %}

{% block title user.username ~ "'s Profile" %}

{% block content %}

{% if is_me %}
  <div class="alert alert-info">
    <i class="icon-info-sign"></i>
    <p>
      This page is how others see your profile when they view it. They cannot make changes to it.
      {% if private %}
      Your profile is currently <strong>private</strong>. Only collaborators of your projects can view it.
      {% else %}
      Your profile is currently <strong>public</strong>. Setting it to private will prevent others from viewing it.
      {% endif %}
      This can be changed in your {{ anchor("/users/profile", "Settings") | raw }}.
    </p>
  </div>
  <div class="separator-xsmall"></div>
{% endif %}

<p class="breadcrumbs">
  {{ anchor("/", "Home") | raw }} <span class="divider">&gt;</span>
  <span class="current">{{ anchor("/users/profile/#{user.id}", user.username ~ "'s Profile") | raw }} </span>
</p>

<div class="separator-xsmall"></div>

<div class="page-header">
  <h1>{{ user.username }}'s Profile</h1>
</div>

<div class="row-fluid">
  <div class="span3">
    <div class="well">
      <h3>Name</h3>
      <h6>{{ user.name | default("Not provided") }}</h6>
      <br />
      <h3>Title</h3>
      <h6>{{ user.title | default("Not provided") }}</h6>
      <br />
      <h3>Organization</h3>
      <h6>{{ user.organization | default("Not provided") }}</h6>
      <br />
      <h3>Location</h3>
      <h6>{{ user.location | default("Not provided") }}</h6>
      <br />
      <h3>About</h3>
      <h6>{{ user.about | default("Not provided") }}</h6>
      <br />
      <h3>Joined</h3>
      <h6>{{ user.created | date("F j, Y") }}</h6>
    </div>
  </div>
  <div class="span9 row-fluid">
    <div class="span6 well-list">
      <table class="table table-hover">
        <tr>
          <th>
            <h2>
              Projects
            </h2>
          </th>
        </tr>
        {% if projects %}
          {% for project in projects %}
            <tr>
              <td class="project" valign="middle" data-proj_id="{{ project.id }}">
                {{ anchor("/projects/view/#{project.id}", project.name) | raw }}
                <div class="buttons">
                  <div class="button">
                    <a href="#" rel="tooltip" title="Subscribers" class="rawlink">
                      {{ project.subscribers }}
                      <i class="icon-star"></i>
                    </a>
                  </div>
                </div>
                <div class="description">{{ project.description | slice(0, 120) | default("No description.") }}</div>
              </td>
            </tr>
          {% endfor %}
      {% else %}
        <tr class="nohover">
          <td valign="middle">
            <p>This user isn't participating in any projects.</p>
          </td>
        </tr>
      {% endif %}
      </table>
    </div>
    <div class="span6 well-list">
      <table class="table table-hover">
        <tr>
          <th>
            <h2>
              Recent Activity
            </h2>
          </th>
        </tr>
        {% set found_change = false %}
        {% for project in projects %}
          {% if project.my_changes %}
            {% set found_change = true %}
            <tr>
              <td class="project" valign="middle" data-proj_id="{{ project.id }}">
                {{ anchor("/projects/changes/#{project.id}", project.name) | raw }}
                <div class="buttons">
                  <div class="button">
                    <a href="#" rel="tooltip" title="Subscribers" class="rawlink">
                      {{ project.subscribers }}
                      <i class="icon-star"></i>
                    </a>
                  </div>
                </div>
                <div class="description">{{ project.description | slice(0, 120) | default("No description.") }}</div>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        {% if not found_change %}
          <tr class="nohover">
            <td valign="middle">
              <p>No recent activity.</p>
            </td>
          </tr>
        {% endif %}
      </table>
    </div>
  </div>
</div>

<div class="separator"></div>

{% endblock %}
