{% extends "base.twig" %}

{% block title "user.username's Profile" %}

{% block content %}

<div class="page-header">
  <h1>{{ user.username }}'s Profile</h1>
  <h4 class="pull-right snap-top">Joined {{ user.created | date("d/m/Y") }}.</h4>
</div>

<div class="row-fluid">
  <div class="span1">
    <p>Title</p>
  </div>
  <div class="span11">
    {{ user.title }}
  </div>
</div>
<div class="row-fluid">
  <div class="span1">
    <p>Location</p>
  </div>
  <div class="span11">
    {{ user.location }}
  </div>
</div>
<div class="row-fluid">
  <div class="span1">
    <p>About</p>
  </div>
  <div class="span11">
    {{ user.about }}
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h3>Projects</h3>
    <hr class="soften" />
    <ul>
      {% for project in projects %}
        <li>
          {{ anchor("/projects/view/#{project.id}", project.name) | raw }}
          <p class="date pull-right">{{ project.latest_change | date("d/m/Y") }}</p>
          <p>{{ project.description }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="span6">
    <h3>Recent Activity</h3>
  </div>
</div>

{% endblock %}
