{% extends "base.twig" %}

{% block title user.username ~ "'s Profile" %}

{% block content %}

<p class="breadcrumbs">
  {{ anchor("/", "Home") | raw }} <span class="divider">&gt;</span>
  <span class="current">{{ anchor("/users/profile/#{user.id}", user.username ~ "'s Profile") | raw }} </span>
</p>

<hr class="soften" />

{% if is_me %}
  <div class="alert alert-info">
    <i class="icon-info-sign"></i>
    <p>
      This page is how others see your profile when they view it. They cannot make changes to it.
      {% if private %}
      Your profile is currently <strong>private</strong>. Only collaborators of your projects can view it.
      {% else %}
      Your profile is currently <strong>public</strong>. Setting it to private will prevent others from viewing it.
      {% endif %}
      This can be changed in your {{ anchor("/users/profile", "Settings") | raw }}.
    </p>
  </div>
{% endif %}

<div class="well blue-well">
<div class="page-header">
  <h1>{{ user.username }}'s Profile</h1>
  <div class="pull-right snap-top">Joined <em>{{ user.created | date("F j, Y") }}</em></div>
</div>

{% if fulltitle %}
  <div class="fulltitle">{{ fulltitle }}</div>
{% endif %}
<div class="row-fluid profile-entry">
  <div class="span1 profile-field">
    Location
  </div>
  <div class="span11 profile-value">
    {{ user.location | default("Not entered") }}
  </div>
</div>
<div class="row-fluid profile-entry">
  <div class="span1 profile-field">
    About
  </div>
  <div class="span11 profile-value">
    {{ user.about | default("No information") }}
  </div>
</div>
</div>

<div class="row-fluid">
  <div class="span6 well-list">
    <table class="table">
      <tr>
        <th>
          <h1>
            Projects
          </h1>
        </th>
      </tr>
      {% if projects %}
        {% for project in projects %}
          <tr>
            <td class="project" valign="middle" data-proj_id="{{ project.id }}">
              {{ anchor("/projects/view/#{project.id}", project.name) | raw }}
              <div class="buttons">
                <div class="button">
                  <a href="#" rel="tooltip" title="Subscribers" class="rawlink">
                    {{ project.subscribers }}
                    <i class="icon-star"></i>
                  </a>
                </div>
              </div>
              <div class="description">{{ project.description | slice(0, 120) | default("No description.") }}</div>
            </td>
          </tr>
        {% endfor %}
    {% else %}
      <tr class="nohover">
        <td valign="middle">
          <p>This user isn't participating in any projects.</p>
        </td>
      </tr>
    {% endif %}
    </table>
  </div>
  <div class="span6 well light-well">
    <h3>Recent Activity</h3>
    <hr class="soften" />
    <ul>
      {% for project in projects %}
        {% if project.my_changes %}
          {% set found_change = true %}
          <li class="activity-entry">
            {{ anchor("/projects/changes/#{project.id}", project.name) | raw }}
            <ul class="unstyled">
              {% for change in project.my_changes %}
                <li>
                  <div class="pull-right date p">
                    {{ time_ago(change.commit_ts) }}
                  </div>
                  <div class="activity-msg">
                    {{ anchor("/changes/view/#{change.id}", change.commit_msg) | raw }}
                  </div>
                </li>
              {% endfor %}
            </ul>
            {% if not loop.last and loop.next.my_changes %}
              <hr class="soften" />
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if not found_change %}
      <p>No recent activity.</p>
    {% endif %}
  </div>
</div>

<div class="separator"></div>

{% endblock %}
