{% extends "base.twig" %}

{% block title "Send Activation Email" %}

{%
set email = {
	'name': 'email',
	'id': 'email',
	'value': set_value('email'),
	'maxlength': 80,
	'size': 30,
}
%}

{% block content %}

<div class="page-header">
  <h1>Resend activation email</h1>
</div>

<p>
If you didn't get the activation email, or you changed your email, try resending it below.
</p>

{{ form_open() | raw }}
	{{ form_label('Email Address', email['id']) | raw }}
	{{ form_input(email) | raw }}
	{{ form_error(email['name']) | raw }}
	{{ errors[email['name']] }}
	<br />
	{{ form_submit({class: 'btn', name: 'send'}, 'Send') | raw }}
{{ form_close() | raw }}
{% endblock %}
