<script>
  $(document).ready(function() {
    $('#feedbackModal').submit(function(e) {
      e.preventDefault();

      var form_data = {
        subject: $('#feedbackModal input[name="subject"]').val(),
        message: $('#feedbackModal textarea[name="message"]').val(),
      };

      $.ajax({
        url: '/support/feedback_ajax',
        type: 'POST',
        data: form_data,
        dataType: 'json',
        cache: false,

        error: function(json) {
          var errors = decodeValidationErrors($.parseJSON(json.responseText).errors);
          $('#feedbackSuccess').hide();
          $('#feedbackError').html(message).show();
        },

        success: function(json) {
          $('#feedbackSuccess').html(json.message + ' <i class="icon-spinner icon-spin"></i>').show();
          $('#feedbackError').hide();

          setTimeout(function() {
            $('#feedbackModal').modal('hide');
          }, 1500);
        },
      });
    });
  });
</script>


<div id="feedbackModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2>Feedback</h2>
  </div>
  {{ form_open('/support/feedback_ajax') | raw }}
  <div class="modal-body">
    <div id="feedbackError" class="alert alert-error hide"></div>
    <div id="feedbackSuccess" class="alert alert-success hide"></div>
    <p>We value your feedback. Please leave as much information as you want, as often as you desire.
    We read every message sent to us and will correspond with you, if you desire.</p>
    <h4>Subject</h4>
    <p></p>
    {{ form_input({name: 'subject', class: 'full-width-input'}) | raw }}
    <h4>Message</h4>
    <p></p>
    {{ form_textarea({name: 'message', class: 'full-width-input'}) | raw }}
  </div>
  <div class="modal-footer">
    {{ form_submit({class: 'btn btn-primary'}, 'Submit') | raw }}
    <a class="btn project-cancel" data-dismiss="modal">Cancel</a>
  </div>
  {{ form_close() | raw }}
</div>
